.featured-supplies {
  position: relative;
  background: #f3f9eb;
  padding: 50px 0;
  overflow: hidden;
}

.headers h2 {
  color: var(--color-im-dark-blue);
  font-size: 36px;
  font-family: var(--font-family-header);
  font-weight: 300;
  line-height: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.container {
  padding-inline: 50px;
  margin-inline: auto;
}

@media screen and (width >= 1340px) {
  .container {
    width: 1310px;
  }
}

@media screen and (width >= 1536px) {
  .container {
    width: 1390px;
  }
}

@media screen and (width >= 1600px) {
  .container {
    width: 1410px;
  }
}

@media screen and (width >= 1900px) {
  .container {
    width: 1630px;
  }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel .owl-item > div) {
  min-height: 250px;
  height: 250px;
  margin: 15px;
  box-shadow: 0 6px 12px -4px rgba(40 11 18 / 10%);
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
  padding: 20px;
  transition: all 0.3s ease;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel .owl-item > div:hover) {
  box-shadow: 0 5px 8px rgb(0 0 0 / 30%);
  transform: scale(1.04);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel .owl-item img) {
  background: none;
  height: 150px;
  min-height: 150px;
  object-fit: contain;
  object-position: 50% 0;
  padding: 0 0 10px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel .owl-item p) {
  padding: 0;
  background: none;
  color: #2f2a2b;
  margin-top: 15px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel a) {
  text-decoration: none;
  font-weight: 500;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel .owl-nav.disabled) {
  display: block;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel .owl-prev span) {
  background: var(--color-im-teal);
  padding: 2px 13px 5px;
  color: var(--color-white);
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: -40px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.featured-supplies :global(.owl-carousel .owl-next span) {
  background: var(--color-im-teal);
  padding: 2px 13px 5px;
  color: var(--color-white);
  font-size: 20px;
  position: absolute;
  top: 40%;
  right: -40px;
}
