.banner-cta {
  min-height: 72px;
  background-color: var(--color-im-mid-blue);
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-cta .container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.banner-cta.light {
  background-color: var(--color-im-mid-blue);
}

.banner-cta.dark {
  background-color: var(--color-im-dark-blue);
}

.banner-cta .icon {
  flex: 0 0 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-cta .content {
  color: var(--color-white);
}

.content ul {
  padding-inline-start: 30px;
}

.content ul > li {
  font: var(--font-list-item-mobile);
  padding-inline-start: 10px;
  list-style: none;
  position: relative;
}

.content ul > li::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 1.5px solid var(--color-white);
  transform: rotate(45deg);
  flex-shrink: 0;
  display: inline-flex;
  top: 6px;
  inset-inline-start: -5px;
  position: absolute;
}

.banner-cta a {
  border-color: var(--color-white) !important; /* button varies from norm */
}

.banner-cta.alert {
  min-height: 42px;
  background-color: var(--color-im-yellow);
  padding: 5px 20px;
}

.banner-cta.alert .container {
  gap: 10px;
}

.banner-cta.alert .icon {
  display: none;
}

.banner-cta.alert .content {
  color: var(--color-im-grey);
  font-size: 12px;
  font-weight: 300;
  line-height: 15.72px;
}

.banner-cta.alert .content,
.banner-cta.alert .content * {
  display: inline;
}

.banner-cta.alert .content *:not(:first-child) {
  margin-inline-start: 6px;
}

.banner-cta.alert .content strong {
  font-weight: 400;
}

.close-button {
  content: url('/static-assets/close-im-grey.svg');
  width: 13px;
  height: 13px;
  cursor: pointer;
}

@media screen and (width >= 1440px) {
  .banner-cta {
    min-height: 89px;
    gap: 14px;
    padding-inline: 100px;
  }

  .banner-cta.left {
    justify-content: start;
  }

  .banner-cta.right {
    justify-content: end;
  }

  .banner-cta .content {
    flex-shrink: 1;
  }

  .banner-cta,
  .banner-cta.alert {
    padding: 5px 100px;
  }

  .banner-cta.alert {
    min-height: 34px;
  }

  .banner-cta.alert .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner-cta.alert .sub-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 12px;
  }

  .banner-cta.alert .icon {
    display: flex;
  }

  .banner-cta.alert .content {
    font-size: 13px;
  }

  .banner-cta.alert .content *:not(:first-child) {
    margin-inline-start: 12px;
  }
}
