/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable at-rule-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
.navigation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-container.isOpen {
  position: fixed;
}

.overlay {
  height: calc(100dvh - 100px);
  background-color: transparent;
  backdrop-filter: blur(5px);
  animation: fade-in 300ms forwards;
  position: fixed;
  top: 100px;
  width: 100%;
}

@-webkit-keyframes fade-in {
  100% {
    background-color: rgba(6 22 38 / 70%);
  }
}

@keyframes fade-in {
  100% {
    background-color: rgba(6 22 38 / 70%);
  }
}

.l1-nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 30px 100px;
  height: 100px;
  border-bottom: 1px solid rgba(204 204 204 / 40%);
  z-index: 100;
}

.l1-menu {
  display: flex;
}

[data-main-nav-is-hidden='true'] .l1-menu {
  display: none;
}

.l1-nav-bar:has([data-has-focus='true']) .l1-menu {
  display: none;
}

.l1-nav-bar .logo {
  max-height: 45px;
  width: 90px;
  margin-inline-end: 60px;
}

.logo img,
.logo a {
  max-height: inherit;
  width: auto;
}

.button-container {
  display: flex;
  gap: 10px;
}

.quick-access-section a {
  justify-content: center;
}

div.quote-btn > a {
  height: 45px;
  min-width: max-content;
}

div.quote-btn > a::after {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.l1-links-container {
  display: flex;
  flex-grow: 1;
}

.l1Links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  margin-top: 15px;
}

.l1Links .menu-option {
  font: normal 400 20px / normal var(--font-family-body);
  letter-spacing: 0.16px;
  color: var(--color-im-dark-blue);
  cursor: pointer;
  padding-bottom: 7.5px;
  border-bottom: 1px solid transparent;
}

.l1Links .menu-option:hover,
.l1Links .menu-option.active {
  color: var(--color-im-mid-blue);
  border-color: var(--color-im-mid-blue);
}

.links-container {
  width: 412px;
  height: calc(100dvh - 100px);
  background-color: var(--color-white);
  padding: 35px 0;
  box-shadow: 6px 4px 15px rgba(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  position: fixed;
  top: 100px;
  inset-inline-start: -415px;
  z-index: 75;
}

:global([dir='rtl']) .links-container {
  box-shadow: -6px 4px 15px rgba(0 0 0 / 20%);
}

.links-container.sub-l3 {
  background-color: var(--color-background-1);
  z-index: 50;
}

.l4-links-container.sub-l4 {
  background-color: var(--color-background-1);
  height: calc(100dvh - 100px);
  padding: 35px 0;
  box-shadow: 6px 4px 15px rgba(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  position: fixed;
  top: 100px;
  inset-inline-start: -415px;
  width: auto;
  z-index: 25;
}

:global([dir='rtl']) .l4-links-container.sub-l4 {
  box-shadow: -6px 4px 15px rgba(0 0 0 / 20%);
}

.links {
  overflow: scroll;
}

.links::-webkit-scrollbar {
  display: none;
}

.utility-links-container .links {
  min-width: 412px;
  display: flex;
  flex-flow: column wrap;
  overflow: unset;
  max-height: 100%;
  margin-inline-start: 30px;
}

.l4-links-container.sub-l4 .links {
  min-width: 412px;
  display: flex;
  flex-flow: column wrap;
  overflow: unset;
  max-height: 100%;
}

#slide-right-l2 {
  animation: slide-right-l2 300ms forwards;
  padding-inline: 0;
  padding-block-start: 35px;
  padding-block-end: 25px;
  gap: 20px;
}

@-webkit-keyframes slide-right-l2 {
  100% {
    inset-inline-start: 0;
  }
}

@keyframes slide-right-l2 {
  100% {
    inset-inline-start: 0;
  }
}

#slide-right-l3 {
  -webkit-animation: slide-right-l3 300ms forwards;
  animation: slide-right-l3 300ms forwards;
}

@-webkit-keyframes slide-right-l3 {
  100% {
    inset-inline-start: 412px;
  }
}

@keyframes slide-right-l3 {
  100% {
    inset-inline-start: 412px;
  }
}

#slide-right-l4 {
  -webkit-animation: slide-right-l4 300ms forwards;
  animation: slide-right-l4 300ms forwards;
}

@-webkit-keyframes slide-right-l4 {
  100% {
    inset-inline-start: 824px;
  }
}

@keyframes slide-right-l4 {
  100% {
    inset-inline-start: 824px;
  }
}

.menu-title {
  font: var(--font-header-h3);
  color: var(--color-im-dark-blue);
  margin-bottom: 15px;
  padding: 0 60px;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.section-title {
  color: rgba(88 89 91 / 80%);
  font: normal 300 16px / 125% var(--font-family-body);
  padding: 0 60px;
  margin-bottom: 8px;
}

/* stylelint-disable-next-line no-descending-specificity */
.section-container .menu-option,
.section-container .menu-option a {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 60px;
  cursor: pointer;
  font: normal 400 14px / 100% var(--font-family-body);
  color: var(--color-im-grey);
  text-decoration: none;
}

.section-container .menu-option:hover,
.section-container .menu-option.active {
  background-color: var(--color-background-2);
  color: var(--color-im-mid-blue);
}

.quick-access-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 60px;
}

.quick-access-section a:global(.btn-secondary) {
  padding: 5px;
}

.quick-access-section .section-title {
  padding: 0;
  margin-bottom: 0;
}

.section-container a:global(.btn-tertiary) {
  margin: 10px 60px;
  max-width: fit-content;
}

.utility-links-container {
  background-color: var(--color-background-1);
  height: calc(100dvh - 100px);
  padding-top: 10px;
  padding-inline-start: 10px;
  box-shadow: 6px 4px 15px rgba(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  position: fixed;
  top: 100px;
  inset-inline-start: -415px;
  width: auto;
  z-index: 25;
}

:global([dir='rtl']) .utility-links-container {
  box-shadow: -6px 4px 15px rgba(0 0 0 / 20%);
}

.map-img {
  max-width: 100%;
  padding: 35px 40px;
}

.map-img img {
  max-width: 100%;
  height: auto;
}

.utility-links-container .country {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 30px 55px 0 0;
  margin-block-start: 30px;
  margin-inline-end: 55px;
  margin-block-end: 0;
  margin-inline-start: 0;
}

.language-wrap {
  display: flex;
}

.utility-links-container .country .language-single,
.utility-links-container .country .language-multi {
  color: var(--color-im-grey);
  font: normal 300 12px / 160% var(--font-family-body);
  text-decoration: none;
}

.utility-links-container .country .language-multi {
  color: var(--color-im-mid-blue);
}

.language-multi:has(+ .language-multi)::after {
  content: '|';
  height: auto;
  width: auto;
  padding: 0 10px;
  color: var(--color-im-grey);
}

.utility-links-container .country > a {
  color: var(--color-im-dark-blue);
  font: normal 400 14px / 160% var(--font-family-body);
  text-decoration: none;
}

/* Hidden navigation styles */
[data-utility-nav-is-hidden='true'] .overlay,
[data-utility-nav-is-hidden='true'] .links-container,
[data-utility-nav-is-hidden='true'] .sub-l4 {
  height: calc(100dvh - 100px);
  top: 100px;
}
