/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable at-rule-no-vendor-prefix */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable prettier/prettier */
.navigation-container {
  width: 100dvw;
}

.top-bar-container {
  display: flex;
  height: 45px;
  width: 100%;
  background-color: var(--color-white);
}

.top-bar-container[data-open='true'] {
  flex-direction: row-reverse;
}

.hamburger {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-image: url('../../assets/icons/hamburger.svg');
}

.exit {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-image: url('../../assets/icons/hamburger-close.svg');
}

.logo {
  max-height: 45px;
  width: 90px;
  margin-inline-end: auto;
}

.logo img,
.logo a {
  max-height: inherit;
  width: auto;
}

.search-icon {
  background-image: url('../../assets/icons/search.svg');
  background-position: center;
  height: 45px;
  width: min-content;
}

.search-icon a {
  display: block;
  opacity: 0;
  height: inherit;
  cursor: pointer;
}

.quick-access-section a {
  justify-content: center;
}

div.quote-btn > a {
  border-radius: 0;
  height: 45px;
  min-width: max-content;
}

div.quote-btn > a::after {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.slide-out-container {
  width: 100dvw;
  height: calc(100dvh - 45px);
}

#slide-right {
  width: 100dvw;
  height: calc(100dvh - 45px);
  position: absolute;
  inset-inline-start: -100dvw;
  -webkit-animation: slide-right 300ms forwards;
  animation: slide-right 300ms forwards;
}

.section-container a:global(.btn-tertiary) {
  width: fit-content;
}

@-webkit-keyframes slide-right {
  100% {
    inset-inline-start: 0;
  }
}

@keyframes slide-right {
  100% {
    inset-inline-start: 0;
  }
}

.btn-back {
  color: var(--color-im-mid-blue);
  font: normal 400 13px / 131% var(--font-family-body);
  display: flex;
  padding-block: 20px;
  padding-inline-end: 20px;
  padding-inline-start: 45px;
  position: relative;
}

.btn-back::before {
  content: url('../../assets/icons/caret-left-blue.svg');
  position: absolute;
  inset-inline-start: 20px;
  top: 21px;
}

.links-container {
  height: 100%;
  background-color: var(--color-background-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links,
.l1Links {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  border: 1px solid rgba(204 204 204 / 40%);
  flex-grow: 1;
  overflow: scroll;
  gap: 26px;
}

.links::-webkit-scrollbar,
.l1Links::-webkit-scrollbar {
  display: none;
}

.l1Links {
  gap: 40px;
}

.menu-option {
  font: normal 400 14px / 160% var(--font-family-body);
  color: var(--color-im-grey);
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.l1Links .menu-option {
  color: var(--color-im-dark-blue);
  font: var(--font-header-h3-mobile);
  position: relative;
  cursor: pointer;
}

.l1Links .menu-option::after,
.l1Links .link::after {
  content: url('../../assets/icons/caret-right-blue.svg');
  position: absolute;
  top: 1px;
  margin-inline-start: 15px;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.section-title {
  font: normal 300 14px / 125% var(--font-family-body);
  color: rgba(88 89 91 / 80%);
}

h4.menu-option::after {
  content: url('../../assets/icons/caret-right.svg');
  position: absolute;
  top: 1px;
  inset-inline-end: 0;
}

.quick-access-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.quick-access-section a:global(.btn-secondary) {
  padding: 5px;
}

/* Hidden navigation styles */
[data-main-nav-is-hidden='true'] .l1Links {
  display: none;
}

[data-main-nav-is-hidden='true'][data-utility-nav-is-hidden='true'] .hamburger {
  display: none;
}
