.history-timeline {
  clear: both;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.history-timeline[data-theme='dark'] {
  background-color: var(--color-background-3);
  color: #fff;
}

.history-timeline > div:first-of-type {
  padding: 60px 35px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.history-timeline > div:first-of-type :global(.btn-secondary) {
  margin-top: 5px;
}

.history-timeline > *:last-of-type {
  overflow-x: auto;
}

.heading {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.heading h2 {
  color: var(--color-im-dark-blue);
}

.heading p {
  color: var(--color-im-grey);
  font-family: var(--font-family-body);
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.history-timeline[data-theme='dark'] h2 {
  color: var(--color-im-light-blue);
}

.history-timeline[data-theme='dark'] .button,
.history-timeline[data-theme='dark'] .heading p,
.history-timeline[data-theme='dark'] a {
  color: var(--color-white);
}

.description {
  display: flex;
  gap: 10px;
  font-size: 15px;
  line-height: 150%;
  position: relative;
}

.description::before {
  content: '';
  width: 1px;
  height: 60px;
  position: absolute;
  background-color: var(--color-im-grey);
  top: 17px;
  inset-inline-start: 23px;
}

.history-timeline[data-theme='dark'] .description::before {
  background-color: var(--color-white);
}

.description::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-im-mid-blue);
  border-radius: 50%;
  position: absolute;
  top: -7px;
  inset-inline-start: 20px;
}

.history-timeline[data-theme='dark'] .description::after {
  background-color: var(--color-im-light-blue);
}

.slide > *:nth-child(3) .description::before {
  top: 73px;
  height: calc(100% - 99px);
}

.slide > *:nth-child(3) .description::after {
  top: initial;
  bottom: 2px;
}

.year,
.title {
  line-height: 26.4px;
}

.year {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
}

.history-timeline[data-theme='dark'] .year {
  background: #023459;
}

.history-timeline[data-theme='light'] .year {
  background: #f7f7fe;
}

.history-timeline[data-theme='dark'] .year::before {
  background-color: var(--color-im-mid-blue);
}

.history-timeline[data-theme='dark'] .year::after {
  background-color: var(--color-white);
}

.title {
  color: var(--color-im-dark-blue);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 5px;
}

.history-timeline[data-theme='dark'] .title {
  color: var(--color-im-light-blue);
}

.slide {
  display: flex;
  align-items: center;
  background-image: url('../../assets/icons/timeline-light.svg');
  background-repeat: repeat-x;
  background-position-y: center;
  justify-content: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.slide > div {
  width: 265px;
  display: grid;
  place-items: center;
}

.slide > *:nth-child(1) > div:first-of-type,
.slide > *:nth-child(3) > div:first-of-type {
  align-self: flex-end;
}

.slide > *:nth-child(1) > div:last-of-type,
.slide > *:nth-child(3) > div:last-of-type {
  align-self: flex-start;
}

.slide > div[data-has-description='true'] {
  grid-template-rows: 1fr 1fr;
}

.history-timeline[data-theme='dark'] .slide {
  background-image: url('../../assets/icons/timeline-dark.svg');
}

.slide > *:nth-child(1) .description {
  padding-top: 90px;
  padding-bottom: 38px;
}

.slide > *:nth-child(3) .description {
  padding-top: 38px;
  padding-bottom: 50px;
}

.slide img {
  aspect-ratio: 274 / 183;
  border-radius: 5px;
  height: auto;
  width: 183px;
}

.slide > *:nth-child(1) img {
  margin-bottom: 47px;
}

.slide > *:nth-child(3) img {
  margin-top: 47px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.history-timeline[data-theme='dark'] :global(.swiper-scrollbar-drag) {
  background-color: var(--color-white);
}

@media screen and (width >= 1280px) {
  .heading {
    text-align: initial;
    align-items: flex-start;
    gap: 30px;
    max-width: 400px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .history-timeline > div:first-of-type :global(.btn-secondary) {
    margin-top: 0;
  }

  .heading p {
    font-size: 18px;
    line-height: 29px;
  }

  .description {
    gap: 20px;
  }

  .description::before {
    width: 1px;
    height: 158px;
    top: 18px;
    inset-inline-start: 35px;
  }

  .description::after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -6px;
    inset-inline-start: 28px;
  }

  .slide > *:nth-child(3) .description::before {
    top: 123px;
    height: calc(100% - 130px);
  }

  .slide > *:nth-child(3) .description::after {
    bottom: -15px;
  }

  .year,
  .title {
    line-height: 44px;
  }

  .year {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .slide > div {
    width: 529px;
  }

  .slide > *:nth-child(1) .description {
    padding-top: 183px;
    padding-bottom: 75px;
  }

  .slide > *:nth-child(3) .description {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .slide img {
    aspect-ratio: 404 / 270;
    border-radius: 15px;
    width: 404px;
  }

  .slide > *:nth-child(1) img {
    margin-bottom: 72px;
  }

  .slide > *:nth-child(3) img {
    margin-top: 72px;
  }
}
