.horizontal-scroll-diamonds {
  margin: auto;
  clear: both;
  max-width: 1920px;
}

/* stylelint-disable */
.horizontal-scroll-diamonds :global(.diamond-grid) {
  --diamond-size: 135;
  --diamond-columns: var(--diamond-size-px) var(--diamond-size-px)
    var(--diamond-size-px) var(--diamond-size-px) var(--diamond-size-px)
    var(--diamond-size-px);
  --diamond-rows: var(--diamond-size-px) var(--diamond-size-px)
    var(--diamond-size-px) var(--diamond-size-px) var(--diamond-size-px);
  --diamond-grid-top: -308;
  --diamond-grid-left: 522;
  --diamond-grid-height: 520;
}

:global([dir='rtl']) .horizontal-scroll-diamonds :global(.diamond-grid) {
  --diamond-grid-top: 308;
  --diamond-grid-left: -265;
}

.horizontal-scroll-diamonds :global(.diamond) {
  border-radius: 7px;
}

.horizontal-scroll-diamonds [data-desktop-cards] {
  margin-top: -160px;
  height: calc(520 * 2 * 1px);
}

.headline {
  color: var(--color-im-dark-blue);
  font-size: 28px;
  font-family: var(--font-family-header);
  font-weight: 300;
  line-height: 100%;
  margin-bottom: 10px;
}

.description {
  color: var(--color-im-grey);
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}

.description ul {
  margin-inline-start: 35px;
}

.horizontal-scroll-diamonds :global(.font-list) ul {
  text-align: start;
  padding-inline-start: 0;
}
.horizontal-scroll-diamonds :global(.diamond:nth-child(5)),
.horizontal-scroll-diamonds :global(.diamond:nth-child(15)),
.horizontal-scroll-diamonds :global(.diamond:nth-child(17)),
.horizontal-scroll-diamonds :global(.diamond:nth-child(19)) {
  width: calc(var(--diamond-size-px) / 2);
  height: calc(var(--diamond-size-px) / 2);
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(5)),
.horizontal-scroll-diamonds :global(.diamond:nth-child(19)) {
  margin-top: calc(var(--diamond-size-px) / 2);
  margin-inline-start: calc(var(--diamond-size-px) / 2);
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(15)),
.horizontal-scroll-diamonds :global(.diamond:nth-child(17)) {
  margin-inline-end: calc(var(--diamond-size-px) / 2);
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(5)) {
  grid-row-start: 1;
  grid-column-start: 4;
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(10)) {
  grid-row-start: 2;
  grid-column-start: 4;
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(11)) {
  grid-row-start: 2;
  grid-column-start: 5;
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(12)) {
  grid-row-start: 1;
  grid-column-start: 5;
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(15)) {
  grid-row-start: 4;
  grid-column-start: 4;
}

.horizontal-scroll-diamonds :global(.diamond:nth-child(22)) {
  grid-row-start: 3;
  grid-column-start: 3;
}

@media screen and (width >= 1280px) {
  .horizontal-scroll-diamonds {
    height: 825px;
    overflow: hidden;
    position: relative;
  }

  .horizontal-scroll-diamonds :global(.swiper) {
    top: -200px;
  }

  .horizontal-scroll-diamonds [class*='Carousel_drag__'] {
    margin-top: 200px;
  }

  .horizontal-scroll-diamonds :global(.swiper-slide:first-of-type) {
    padding-inline-end: 0;
  }

  .horizontal-scroll-diamonds :global(.diamond) {
    border-radius: 15px;
  }

  .headline,
  .description {
    max-width: 388px;
  }

  .headline {
    font-size: 42px;
  }

  .description {
    font-size: 18px;
  }

  .horizontal-scroll-diamonds :global(.diamond:nth-child(5)),
  .horizontal-scroll-diamonds :global(.diamond:nth-child(10)),
  .horizontal-scroll-diamonds :global(.diamond:nth-child(11)),
  .horizontal-scroll-diamonds :global(.diamond:nth-child(12)),
  .horizontal-scroll-diamonds :global(.diamond:nth-child(15)),
  .horizontal-scroll-diamonds :global(.diamond:nth-child(22)) {
    grid-row-start: auto;
    grid-column-start: auto;
  }

  .horizontal-scroll-diamonds :global(.diamond:nth-child(15)) {
    margin-top: calc(var(--diamond-size-px) / 2);
    margin-inline: calc(var(--diamond-size-px) / 2) auto;
  }

  .horizontal-scroll-diamonds > div h3:not(.headline) {
    font-size: 60px;
  }

  [data-context-lang='vi-vn']
    .horizontal-scroll-diamonds
    > div
    h3:not(.headline) {
    font-size: 55px;
  }
}

.spacer {
  height: 1px;
  width: 335px;
}
