.diamonds-teaser {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  max-width: 400px;
  margin: 25px auto;
  position: relative;
}

.content {
  margin: 350px auto 50px;
  max-width: 350px;
}

.content > * {
  margin-bottom: 20px;
}

.headline {
  color: var(--color-im-dark-blue);
}

.description {
  color: var(--color-im-grey);
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}

.diamonds-teaser a {
  max-width: max-content;
}

.diamonds {
  max-width: 220px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: end;
  position: absolute;
  inset-inline-start: -25px;
  inset-block-start: 70px;
}

.diamonds > div:nth-child(1) > [data-tile] {
  --tile-size: 75px;
}

.diamonds > div:nth-child(2) > [data-tile] {
  --tile-size: 40px;

  inset-block-start: -35px;
}

.diamonds > div:nth-child(3) > [data-tile] {
  --tile-size: 100px;

  inset-inline-start: 5px;
}

.diamonds > div:nth-child(4) > [data-tile] {
  --tile-size: 100px;

  inset-block-start: -25px;
  inset-inline-start: 5px;
}

.diamonds > div:nth-child(5) > [data-tile] {
  --tile-size: 75px;

  inset-block-start: -25px;
  inset-inline-start: 50px;
}

.diamonds > div:nth-child(6) > [data-tile] {
  --tile-size: 75px;

  inset-block-start: -40px;
  inset-inline-start: -65px;
}

.diamonds > div:nth-child(7) > [data-tile] {
  --tile-size: 75px;

  inset-block-start: -55px;
  inset-inline-start: -10px;
}

.small-diamonds {
  --tile-size: 40px;

  position: absolute;
  inset-block-start: 0;
  inset-inline-end: -25px;
}

.small-diamonds > div:nth-child(2) > [data-tile] {
  --tile-size: 75px;

  inset-block-start: -28px;
  inset-inline-start: 40px;
}

.small-diamonds > div:nth-child(3) > [data-tile] {
  --tile-size: 35px;

  inset-block-start: -58px;
  inset-inline-start: 2px;
}

.flip-design .diamonds {
  inset-inline-start: auto;
  inset-inline-end: -15px;
}

.flip-design .diamonds > div:nth-child(1) {
  order: 3;
}

.flip-design .diamonds > div:nth-child(2) {
  order: 2;
}

.flip-design .diamonds > div:nth-child(3) {
  order: 1;
}

.flip-design .diamonds > div:nth-child(4) {
  order: 5;
}

.flip-design .diamonds > div:nth-child(5) {
  order: 4;
}

.flip-design .diamonds > div:nth-child(6) {
  order: 7;
}

.flip-design .diamonds > div:nth-child(7) {
  order: 6;
}

.flip-design .diamonds > div:nth-child(3) > [data-tile] {
  inset-inline-start: -5px;
}

.flip-design .diamonds > div:nth-child(4) > [data-tile] {
  inset-inline-start: -45px;
}

.flip-design .diamonds > div:nth-child(5) > [data-tile] {
  inset-inline-start: -88px;
}

.flip-design .diamonds > div:nth-child(6) > [data-tile] {
  inset-inline-start: 3px;
}

.flip-design .diamonds > div:nth-child(7) > [data-tile] {
  inset-inline-start: -56px;
}

.flip-design .small-diamonds {
  inset-inline-start: 55px;
  inset-inline-end: auto;
}

.flip-design .small-diamonds > div:nth-child(2) > [data-tile] {
  inset-inline-start: -78px;
}

@media screen and (width >= 1280px) {
  .diamonds-teaser {
    max-width: 1440px;
    clear: both;
    margin: 100px auto 0;
    flex-direction: row-reverse;
    min-height: 1000px;
  }

  .content {
    margin: 475px 50px 50px auto;
    padding: 0;
    padding-inline-start: 300px;
    max-width: unset;
    width: 71%;
  }

  .description {
    font-size: 18px;
  }

  .diamonds {
    max-width: 660px;
    inset-inline-start: -325px;
    inset-block-start: 230px;
  }

  .diamonds > div:nth-child(1) > [data-tile] {
    --tile-size: 215px;
  }

  .diamonds > div:nth-child(2) > [data-tile] {
    --tile-size: 120px;

    inset-block-start: -100px;
  }

  .diamonds > div:nth-child(3) > [data-tile] {
    --tile-size: 315px;

    inset-inline-start: 20px;
  }

  .diamonds > div:nth-child(4) > [data-tile] {
    --tile-size: 325px;

    inset-block-start: -85px;
    inset-inline-start: 22px;
  }

  .diamonds > div:nth-child(5) > [data-tile] {
    --tile-size: 235px;

    inset-block-start: -90px;
    inset-inline-start: 160px;
  }

  .diamonds > div:nth-child(6) > [data-tile] {
    --tile-size: 215px;

    inset-block-start: -120px;
    inset-inline-start: -210px;
  }

  .diamonds > div:nth-child(7) > [data-tile] {
    --tile-size: 225px;

    inset-block-start: -190px;
    inset-inline-start: -20px;
  }

  .small-diamonds {
    --tile-size: 150px;

    inset-inline-end: 0;
  }

  .small-diamonds > div:nth-child(2) > [data-tile] {
    --tile-size: 215px;

    inset-block-start: -70px;
    inset-inline-start: 130px;
  }

  .small-diamonds > div:nth-child(3) > [data-tile] {
    --tile-size: 115px;

    inset-block-start: -150px;
    inset-inline-start: 15px;
  }

  .flip-design .diamonds {
    inset-inline-start: auto;
    inset-inline-end: -325px;
  }

  .flip-design .diamonds > div:nth-child(3) > [data-tile] {
    inset-inline-start: -22px;
  }

  .flip-design .diamonds > div:nth-child(4) > [data-tile] {
    inset-inline-start: -113px;
  }

  .flip-design .diamonds > div:nth-child(5) > [data-tile] {
    inset-inline-start: -255px;
  }

  .flip-design .diamonds > div:nth-child(6) > [data-tile] {
    inset-inline-start: 3px;
  }

  .flip-design .diamonds > div:nth-child(7) > [data-tile] {
    inset-inline-start: -192px;
  }

  .flip-design .small-diamonds > div:nth-child(2) > [data-tile] {
    inset-inline-start: -207px;
  }

  .flip-design .content {
    padding: 0;
    padding-inline-end: 300px;
  }
}
