.featured-cards-master-container {
  clear: both;
  container-type: inline-size;
  container-name: featured-cards;
}

.featured-cards-container {
  max-width: 1920px;
  position: relative;
}

.featured-cards-container::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: left 40% bottom 0;
  background-repeat: no-repeat;
  background-size: 415% auto;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global([dir='rtl']) .featured-cards-container::before {
  transform: scaleX(-1);
}

.featured-cards-container[data-mountains='blue-mountain']::before {
  background-image: url('/static-assets/mountains-blue.svg');
}

.featured-cards-container[data-mountains='grey-mountain']::before {
  background-image: url('/static-assets/mountains-grey.svg');
}

.featured-cards {
  margin: 35px 20px;
  position: relative;
}

.featured-cards,
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tile-1 {
  inset-block-start: 10px;
  inset-inline-start: -58px;
}

.tile-2 {
  inset-block-start: 98px;
  inset-inline-start: -56px;
}

.tile-3 {
  inset-block-end: 185px;
  inset-inline-end: 20px;
}

.tile-4 {
  inset-block-end: 0;
  inset-inline-end: 0;
}

.featured-cards .tile-1,
.featured-cards .tile-2,
.featured-cards .tile-3,
.featured-cards .tile-4 {
  position: absolute;
  z-index: -1;
}

.headline {
  font-family: var(--font-family-header);
  font-size: 24px;
  font-weight: 300;
  line-height: 23px;
  color: var(--color-im-dark-blue);
}

.desktop-cta {
  display: none !important;
}

.card {
  min-height: 135px;
  display: flex;
  width: 100%;
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  background-color: var(--color-white);
  transition: box-shadow 300ms ease-in-out;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 15px 0 #00000026;
}

.card a {
  text-decoration: none;
}

.card-image-container,
.card-content-link,
.card-content {
  min-height: inherit;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
}

.card-image-container {
  position: relative;
  width: 39%;
  border-start-start-radius: 10px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-end-start-radius: 10px;
  flex-shrink: 0;
  min-height: inherit;
  overflow: hidden;
  color: transparent;
}

.card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-start-start-radius: 10px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-end-start-radius: 10px;
  transition:
    width 300ms ease-in-out,
    height 300ms ease-in-out;
}

.card:hover .card-image {
  width: 120%;
  height: 120%;
}

.premium-container {
  position: absolute;
  inset-block-end: 0;
  z-index: 2;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-end-start-radius: 10px;
  background: linear-gradient(180deg, #a2115e 0%, #8a0d71 100%);
  gap: 9.62px;
}

.premium-icon {
  width: 14px;
  height: 14px;
  background-image: url('../../assets/icons/lock.svg');
  background-size: cover;
  background-position: center;
}

.premium-label {
  color: var(--color-white);
  font-family: var(--font-family-body);
  font-size: 11px;
  font-weight: 300;
}

.content-type {
  border: 1px solid var(--color-im-light-blue);
  border-radius: 40px;
  padding: 1px 9px;
  font-family: var(--font-family-body);
  font-size: 8px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-im-grey);
  width: fit-content;
}

.title {
  font-family: var(--font-family-body);
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: var(--color-im-mid-blue);
  text-decoration-line: none;
}

.card:hover .title {
  text-decoration: underline;
}

.title[data-has-content-type='true'] {
  margin-block-start: 8px;
}

.description,
.date {
  margin-block-start: 2px;
  font-family: var(--font-family-body);
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  color: var(--color-im-grey);
}

.description ul li {
  font-size: 15px !important;
}

.description ul li::before {
  top: 9px !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.description :global(.font-list ul li) {
  font-size: 12px !important;
}

@media screen and (width >= 1280px) {
  .featured-cards-container {
    padding: 0 100px;
  }

  .featured-cards-container::before {
    background-size: 100%;
    background-position: center bottom;
  }

  .featured-cards {
    width: 100%;
    max-width: 1920px;
    gap: 35px;
    margin: 51px auto;
  }

  .tile-1 {
    inset-block-start: 26px;
    inset-inline-start: -94px;
  }

  .tile-2 {
    inset-block-start: 114px;
    inset-inline-start: -92px;
  }

  .tile-3 {
    inset-block-end: 165px;
    inset-inline-end: -85px;
  }

  .tile-4 {
    inset-block-end: -20px;
    inset-inline-end: -105px;
  }

  .headline {
    font-size: 36px;
    line-height: 36px;
  }

  .desktop-cta {
    display: flex !important;
    flex-shrink: 0;
  }

  .mobile-cta {
    display: none !important;
  }

  .list {
    flex-flow: row wrap;
    gap: 30px 24px;
  }

  .card {
    width: calc(100% / 3 - 16px);
    flex-direction: column;
    border-radius: 15px;
  }

  .card-image-container {
    width: 100%;
    height: 196px;
    border-radius: 10px 10px 0 0;
  }

  .card-image {
    border-radius: 10px 10px 0 0;
  }

  .card-content-link {
    min-height: auto;
    height: 100%;
  }

  .card-content {
    height: 100%;
    padding: 25px 30px;
    justify-content: flex-start;
  }

  .premium-container {
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 147px;
    height: 31px;
  }

  .premium-icon {
    width: 17px;
    height: 17px;
  }

  .premium-label {
    font-size: 13px;
  }

  .content-type {
    font-size: 10px;
    text-align: center;
    padding: 2px 14px;
  }

  .title {
    font-size: 18px;
    line-height: 23px;
  }

  .title[data-has-content-type='true'] {
    margin-block-start: 13px;
  }

  .description,
  .date {
    margin-block-start: 7px;
    font-size: 15px;
    line-height: 21px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .description :global(.font-list ul li) {
    font-size: 15px !important;
  }
  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .description :global(.font-list ul li::before) {
    top: 9px !important;
  }
}

.featured-cards div[data-has-headline='true'] {
  display: flex;
  justify-content: space-between;
}

@media screen and (width >= 1920px) {
  .featured-cards-container {
    margin: auto;
  }
}

@container featured-cards (max-width: 1000px) {
  .featured-cards-container {
    padding: 0;
  }

  @media screen and (width >= 1280px) {
    .card {
      width: 100%;
      flex-direction: column;
    }
  }
}
