/* stylelint-disable selector-pseudo-class-no-unknown */
.icon-cards-container {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  padding-block-start: 30px;
  clear: both;
}

.icon-cards {
  clear: both;
  overflow: hidden;
  margin: auto;
  padding: 30px 20px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}

.icon-cards-container.photo-with-overlay {
  background-image: linear-gradient(
      0deg,
      rgb(20 71 125 / 80%) 0%,
      rgb(20 71 125 / 80%) 100%
    ),
    url('/static-assets/mountains-with-road-backdrop.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply, normal;
  background-position: center;
  background-size: cover;
}

.icon-cards-container.grey {
  background-color: var(--color-background-2);
}

.icon-cards.blue-mountains {
  background-image: url('/static-assets/mountains-blue.svg');
}

.icon-cards.grey-mountains {
  background-image: url('/static-assets/mountains-grey.svg');
}

.icon-cards.blue-mountains,
.icon-cards.grey-mountains {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.tile-1 {
  top: 10px;
  inset-inline-start: -8px;
}

.tile-2 {
  top: 98px;
  inset-inline-start: -6px;
}

.tile-3 {
  bottom: 142px;
  inset-inline-end: -63px;
}

.tile-4 {
  bottom: -43px;
  inset-inline-end: -83px;
}

.container .tile-1,
.container .tile-2,
.container .tile-3,
.container .tile-4 {
  position: absolute;
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.top-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-content[data-has-description='false'] {
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top-description {
  text-align: center;
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
}

.top-description a {
  color: var(--color-im-light-blue);
}

.headline {
  color: var(--color-im-dark-blue);
  text-align: center;
}

.icon-cards-container.photo-with-overlay .header.dark .headline,
.icon-cards-container.photo-with-overlay .header.dark .description {
  color: var(--color-white);
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
}

.card {
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--color-light-grey);
  background-color: var(--color-white);
  padding: 30px;
}

.icon {
  max-width: 100%;
  height: auto;
}

.card,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card svg {
  height: 40px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  word-break: break-word;
  hyphens: auto;
  text-wrap: balance;
}

.card-title {
  color: var(--color-im-dark-blue);
  text-align: center;
  text-wrap: pretty;
  /* hyphens: none; */
}

.card-description {
  color: var(--color-im-grey);
  text-align: center;
}

.card ul {
  text-align: start;
}

.card-description ul li {
  font-size: 15px !important;
}

.card-description ul li::before {
  top: 9px !important;
}

@container (min-width: 1242px) {
  .icon-cards {
    padding: 30px 0;
  }

  .blue-mountains .icon-cards,
  .grey-mountains .icon-cards {
    padding-block-start: 30px;
    padding-block-end: 60px;
  }

  .container {
    width: 1240px;
  }

  .top-content {
    gap: 30px;
  }

  .top-content[data-has-description='false'] {
    gap: 92px;
  }

  .blue-mountains .header,
  .grey-mountains .header {
    padding-block-end: 30px;
  }

  .container.left-aligned .header {
    align-self: flex-start;
    align-items: flex-start;
  }

  .container.left-aligned .top-description {
    text-align: start;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .card {
    width: 292px;
  }

  .cards[data-cards-per-row='1'],
  .cards[data-cards-per-row='1'] .card {
    width: 608px;
  }

  .cards[data-cards-per-row='2'] {
    max-width: 1000px;
  }

  .cards[data-cards-per-row='2'] .card {
    min-width: 48%;
  }

  .cards[data-cards-per-row='3'] .card {
    width: 327px;
  }

  .cards[data-cards-per-row='5'],
  .cards[data-cards-per-row='6'] {
    width: 924px;
  }

  .content {
    justify-content: space-between;
    flex-grow: 1;
  }

  .icon-cards.blue-mountains,
  .icon-cards.grey-mountains {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

@container (min-width: 640px) {
  :global([class*='_two-column__']) .icon-cards {
    padding: 30px 0;
  }

  :global([class*='_two-column__']) .blue-mountains .icon-cards,
  :global([class*='_two-column__']) .grey-mountains .icon-cards {
    padding-block-start: 30px;
    padding-block-end: 60px;
  }

  :global([class*='_two-column__']) .blue-mountains .header,
  :global([class*='_two-column__']) .grey-mountains .header {
    padding-block-end: 30px;
  }

  :global([class*='_two-column__']) .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  :global([class*='_two-column__']) .card {
    width: 292px;
  }

  :global([class*='_two-column__']) .cards[data-cards-per-row='2'] {
    max-width: 1000px;
  }

  :global([class*='_two-column__']) .cards[data-cards-per-row='2'] .card {
    min-width: 48%;
  }

  :global([class*='_two-column__']) .icon-cards.blue-mountains,
  :global([class*='_two-column__']) .icon-cards.grey-mountains {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
