/* stylelint-disable no-descending-specificity */

.contact-lead-gen-form-container {
  clear: both;
  margin: auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  background-color: var(--color-background-3);
  background-size: cover;
  background-position: center;
  container-type: inline-size;
}

.contact-lead-gen-form-container.dark-blue {
  background-color: var(--color-background-3);
}

.contact-lead-gen-form-container.light {
  background-color: var(--color-background-2);
}

.contact-lead-gen-form {
  display: flex;
  padding: 50px 50px 56px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.contact-lead-gen-form h2,
.contact-lead-gen-form p {
  color: var(--color-white);
}

.contact-lead-gen-form h2 {
  flex-shrink: 0;
  width: 226px;
  color: var(--color-white);
  text-align: center;
}

.form {
  flex-grow: 1;
}

.contact-lead-gen-form form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 818px;
}

/* stylelint-disable */
.contact-lead-gen-form form > :global(.form-element):not(:global(.submit)) {
  /* stylelint-enable */
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-lead-gen-form label {
  color: var(--color-white);
  font-family: var(--font-family-body);
  font-size: 12px;
  font-weight: 300;
  line-height: 150%;
}

.contact-lead-gen-form input:not([type='submit'], [type='checkbox']),
.contact-lead-gen-form select,
.contact-lead-gen-form textarea {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  background: var(--color-white);
  padding: 9px 14.5px;
  color: rgb(88 89 91 / 80%);
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: 300;
}

.contact-lead-gen-form textarea {
  height: 60px !important;
}

.contact-lead-gen-form select {
  appearance: none;
  background-image: url('/static-assets/select-arrow.svg');
  background-position: bottom 17px right 16px;
  background-repeat: no-repeat;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global([dir='rtl']) .contact-lead-gen-form select {
  background-position: bottom 17px left 16px;
}

.contact-lead-gen-form input:not([type='submit'], [type='checkbox']):focus,
.contact-lead-gen-form select:focus,
.contact-lead-gen-form textarea:focus {
  border: 1px solid var(--color-im-mid-blue);
  box-shadow: 0 0 5px 0 #1b75bc;
  outline: none;
}

.contact-lead-gen-form form p {
  font-family: var(--font-family-body);
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: var(--color-white);
}

.contact-lead-gen-form form p a {
  font-family: var(--font-family-body);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-im-light-blue);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.contact-lead-gen-form form :global(.submit) input {
  margin-block-start: 5px;
  width: 100%;
  min-height: 40px;
  border: none;
  border-radius: 10px;
  background: var(--color-orange-gradient);
  padding: 12px 0;
  display: flex;
  justify-content: center;
}

.contact-lead-gen-form input[type='submit'] input {
  padding: 0 21px;
  background: transparent;
  display: flex;
  gap: 10px;
  color: var(--color-white);
  font-family: var(--font-family-body);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  background-image: url('/static-assets/arrows-white.svg');
  background-size: 10.74px 9.2px;
  background-position: center right;
  background-repeat: no-repeat;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global([dir='rtl']) .contact-lead-gen-form input[type='submit'] input {
  background-position: center left;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.contact-lead-gen-form.two-column-layout form :global(.submit) {
  grid-column-start: span 3;
}

/* Light background variant */
.contact-lead-gen-form-container.light h2,
.contact-lead-gen-form-container.light form p {
  color: var(--color-im-grey);
}

.contact-lead-gen-form-container.light form p a {
  color: var(--color-im-mid-blue);
}

/* Success Message */
.contact-lead-gen-form .success-message,
.contact-lead-gen-form .success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-lead-gen-form .success-message .done-icon {
  display: block;
  content: '';
  background-image: url('/static-assets/success.svg');
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.contact-lead-gen-form .success-content h2 {
  max-width: none;
}

.contact-lead-gen-form-container.light .success-content h2 {
  color: var(--color-im-dark-blue);
}

/* stylelint-disable-next-line no-descending-specificity */
.contact-lead-gen-form .success-content p {
  text-align: center;
}

/* Error styling */
/* stylelint-disable */
.contact-lead-gen-form :global(input.error),
.contact-lead-gen-form :global(select.error),
.contact-lead-gen-form :global(textarea.error) {
  /* stylelint-enable */
  border-color: var(--color-im-red);
  background-image: url('/static-assets/error.svg');
  background-size: 15px;
  background-position: center right 11px;
  background-repeat: no-repeat;
}

/* stylelint-disable */
:global([dir='rtl']) .contact-lead-gen-form :global(input.error),
:global([dir='rtl']) .contact-lead-gen-form :global(select.error),
:global([dir='rtl']) .contact-lead-gen-form :global(textarea.error) {
  /* stylelint-enable */
  background-position: center left 11px;
}

/* stylelint-disable */
.contact-lead-gen-form :global(label.error) {
  /* stylelint-enable */
  color: var(--color-im-red);
  font-family: var(--font-family-body);
  font-size: 10px;
  font-weight: 300;
}

/* stylelint-disable */
.contact-lead-gen-form-container.background-image-overlay :global(label.error),
.contact-lead-gen-form-container.dark-blue :global(label.error) {
  /* stylelint-enable */
  color: var(--color-white);
}

/* stylelint-disable */
.contact-lead-gen-form p:global(.full-width),
.contact-lead-gen-form :global(.legal-consent-container) {
  /* stylelint-enable */
  grid-column-start: span 2;
}

/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable-next-line selector-class-pattern */
.contact-lead-gen-form fieldset:global(.checkbox) {
  /* stylelint-enable selector-pseudo-class-no-unknown */
  display: flex;
  align-items: center;
  gap: 13px;
  border: none;
}

.contact-lead-gen-form input[type='checkbox'] {
  appearance: none;
  margin: 0;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  border: 1px solid var(--color-light-grey);
  background-color: var(--color-white);
  border-radius: 5px;
}

.contact-lead-gen-form input[type='checkbox']:checked {
  border: 1px solid var(--color-im-mid-blue);
  background-color: var(--color-im-mid-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-lead-gen-form input[type='checkbox']:checked::after {
  content: url('../../assets/icons/done-white.svg');
}

.contact-lead-gen-form li::marker {
  color: transparent;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.contact-lead-gen-form-container :global(.hs-form-field) {
  width: auto !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.contact-lead-gen-form-container :global(.hs-input) {
  width: 100% !important;
}

.contact-lead-gen-form-container input[type='radio'] {
  width: 23px !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.contact-lead-gen-form-container :global(.hs-submit) {
  grid-column: span 2 !important;
}

@container (min-width: 467px) {
  .contact-lead-gen-form-container {
    border-radius: 10px;
  }

  .contact-lead-gen-form {
    padding: 20px;
  }

  .contact-lead-gen-form h2 {
    width: 100%;
    text-align: start;
  }

  .content-container {
    max-width: 100%;
  }

  .contact-lead-gen-form form {
    grid-template-columns: repeat(2, 1fr);
  }

  /* stylelint-disable */
  .contact-lead-gen-form form > :global(.form-element) {
    /* stylelint-enable */
    gap: 7px;
  }

  .contact-lead-gen-form form section {
    grid-column-start: span 2;
  }

  /* Success Message */
  .contact-lead-gen-form .success-message,
  .contact-lead-gen-form .success-content {
    gap: 20px;
  }

  .contact-lead-gen-form .success-message {
    max-width: 577px;
  }

  .contact-lead-gen-form .success-message .done-icon {
    width: 30px;
    height: 30px;
  }

  /* Error styling */
  /* stylelint-disable */
  .contact-lead-gen-form :global(input.error),
  .contact-lead-gen-form :global(select.error),
  .contact-lead-gen-form :global(textarea.error) {
    /* stylelint-enable */
    border-width: 2px;
    background-size: 20px;
    background-position: center right 15.5px;
  }

  /* stylelint-disable */
  :global([dir='rtl']) .contact-lead-gen-form :global(input.error),
  :global([dir='rtl']) .contact-lead-gen-form :global(select.error),
  :global([dir='rtl']) .contact-lead-gen-form :global(textarea.error) {
    /* stylelint-enable */
    background-position: center left 15.5px;
  }

  /* stylelint-disable */
  .contact-lead-gen-form :global(label.error) {
    /* stylelint-enable */
    font-size: 12px;
  }
}

@container (min-width: 1440px) {
  .contact-lead-gen-form {
    padding: 100px 96px 95px 100px;
  }

  .content-container {
    width: 1244px;
    flex-direction: row;
    align-items: flex-start;
    gap: 67px;
  }

  .contact-lead-gen-form h2 {
    width: 359px;
    text-align: start;
  }

  .contact-lead-gen-form form {
    gap: 25px 24px;
  }

  .contact-lead-gen-form form section {
    grid-column-start: span 1;
  }

  /* stylelint-disable */
  .contact-lead-gen-form form :global(section.full-width) {
    /* stylelint-enable */
    grid-column-start: span 2;
  }

  .contact-lead-gen-form label {
    font-size: 16px;
    line-height: 160%;
  }

  .contact-lead-gen-form input:not([type='submit']),
  .contact-lead-gen-form select,
  .contact-lead-gen-form textarea {
    padding: 12px 14.5px;
    font-size: 16px;
  }

  .contact-lead-gen-form input:not([type='submit'], [type='checkbox']),
  .contact-lead-gen-form select {
    min-height: 50px;
  }

  .contact-lead-gen-form select {
    background-position: bottom 21.5px right 19.75px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .contact-lead-gen-form select {
    background-position: bottom 21.5px left 19.75px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .contact-lead-gen-form form :global(.submit) input {
    margin-block-start: 4px;
    min-height: 50px;
    padding: 16px 0;
  }

  .contact-lead-gen-form input[type='submit'] {
    padding: 0 27px;
    gap: 13px;
    font-size: 13px;
    letter-spacing: 0.13px;
    background-size: 14px 12px;
  }
}
