.profile-cards {
  margin: auto;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
}

.cursor {
  display: none;
}

.container {
  position: relative;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.headers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headline {
  color: var(--color-im-dark-blue);
}

.description {
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: var(--color-im-grey);
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
}

.card {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  transition: box-shadow 300ms ease-in-out;
}

.profile-image-container {
  position: relative;
  width: 135px;
  height: 135px;
  flex-shrink: 0;
  overflow: hidden;
}

.profile-image {
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-start-start-radius: 10px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-end-start-radius: 10px;
  transition:
    width 300ms ease-in-out,
    height 300ms ease-in-out;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global([dir='rtl']) .profile-image {
  inset-inline-start: initial;
  inset-inline-end: 50%;
}

.card:hover .profile-image {
  width: 120%;
  height: 120%;
}

.short-bio {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-inline-start: 15px;
}

.card h4 {
  font-family: var(--font-family-body);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--color-im-mid-blue);
}

.card h5 {
  margin-block-start: 2px;
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: var(--color-im-grey);
}

.card .cta-button {
  margin-block-start: 8px;
  max-width: max-content;
}

.card .cta-button::after {
  top: -1px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 4px 15px 0 #00000026;
}

/* Popup styling */

.popup-container {
  position: fixed;
  inset: 0;
  background-color: #061626b2;
  z-index: 9999999999999999;
  overflow-y: auto;
}

.popup,
.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup {
  width: 90%;
  max-width: 818px;
  padding: 50px 30px;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-background-2);
  position: relative;
  margin: 50px 0;
  inset-inline-start: 50%;
  transform: translateX(-50%) rotate(0);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global([dir='rtl']) .popup {
  transform: translateX(50%);
}

.close-button {
  display: block;
  content: '';
  background-image: url('/static-assets/close-im-grey.svg');
  background-size: cover;
  background-position: center;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  top: 17px;
  inset-inline-end: 17px;
}

.popup .titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup img {
  width: 162px;
  height: 162px;
  border-radius: 10px;
  border: 1px solid var(--color-light-gray);
}

.popup h4 {
  font-family: var(--font-family-header);
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: var(--color-im-dark-blue);
}

.popup h5 {
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--color-im-grey);
}

.popup .long-bio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup .long-bio,
.popup p {
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: var(--color-im-grey);
}

.profile-cards.popup-active .popup-container {
  overflow-y: scroll;
}

@media screen and (width >= 1280px) {
  .profile-cards {
    padding: 70px 0;
  }

  .cursor {
    display: block;
    position: absolute;
    top: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 1px solid var(--color-im-mid-blue);
    border-radius: 100px;
    background-color: rgb(255 255 255 / 80%);
    padding: 20px;
    font-family: var(--font-family-body);
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--color-im-mid-blue);
    text-transform: uppercase;
    opacity: 0;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .cursor {
    inset-inline-start: initial;
    inset-inline-end: 50%;
  }

  .container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
  }

  .headers {
    align-self: flex-start;
    padding: 0 100px;
  }

  .description {
    font-size: 18px;
    line-height: 29px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 24px;
    padding: 0 100px;
  }

  .card {
    flex-direction: column;
    width: 292px;
    align-items: start;
    position: relative;
  }

  .card:hover .cursor {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  .profile-image-container {
    width: 292px;
    height: 292px;
  }

  .profile-image {
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }

  .short-bio {
    padding: 25px 30px;
  }

  .card h4 {
    width: fit-content;
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 23px;
    transition: border 300ms ease-in-out;
  }

  .card h5 {
    margin-block-start: 7px;
    font-size: 15px;
    line-height: 17px;
  }

  .cta-button {
    display: none !important;
  }

  .popup {
    align-items: start;
    gap: 40px;
  }

  .close-button {
    top: 27px;
    inset-inline-end: 27px;
  }

  .top-content {
    flex-direction: row;
    gap: 47px;
  }

  .popup img {
    width: 235px;
    height: 235px;
  }

  .popup h4 {
    font-size: 36px;
  }

  .popup h5 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }

  .popup .long-bio {
    gap: 30px;
  }

  .popup .long-bio,
  .popup p {
    font-size: 18px;
    line-height: 29px;
  }

  .card:hover h4 {
    border-color: var(--color-im-mid-blue);
  }
}
