html {
  block-size: 100%;
  text-size-adjust: none;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizespeed;
  min-block-size: 100%;
  font-family: var(--font-family-body);
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  color: var(--color-im-grey);
  background-color: var(--color-background-1);
  overflow-x: hidden;

  /* height: 1vh; */
}

[hidden] {
  display: none !important;
}

/* stylelint-disable selector-id-pattern */
body:not(:has(.editing-mode)),
body:not(:has(.editing-mode)) div#__next {
  /* stylelint-enable selector-id-pattern */
  height: 1vh;
}

[dir='rtl'] body:has(.editing-mode) {
  position: relative;
  inset: 0;
}

.to-top-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 115px;
  inset-inline-end: 30px;
  background-color: var(--color-white);
  filter: drop-shadow(0 2px 15px rgba(0 0 0 / 15%));
  border-radius: 100%;
  border: none;
  opacity: 0;
  z-index: 99999999999;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.to-top-btn.active {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-top-btn::before {
  opacity: 0;
  height: 0;
  width: 0;
  content: '';
  transition: opacity 300ms ease;
}

.to-top-btn.active::after {
  content: url('/static-assets/to-top-arrows.svg');
  height: auto;
  width: auto;
  transform: scale(0.85);
  position: absolute;
  top: 12px;
  inset-inline-end: 14px;
  cursor: pointer;
}

.spa-link {
  display: block;
  height: 5px;
  width: 100%;
  margin-bottom: -5px;
  position: relative;
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--color-im-mid-blue);
}

a:hover {
  text-decoration: underline;
}

/* stylelint-disable-next-line selector-class-pattern */
.embeddedServiceInvitation {
  position: fixed !important;
}

/* stylelint-disable-next-line selector-class-pattern */
body:has(.editing-mode) .scWebEditInput {
  display: inherit;
}

main
  > .content
  > div:last-child:has(.text-diamond-split)
  .diamonds[data-group='two'] {
  margin-bottom: 0;
}

footer {
  clear: both;
}

@media screen and (width >= 768px) {
  .to-top-btn.active {
    width: 65px;
    height: 65px;
  }

  .to-top-btn.active:hover::before {
    opacity: 1;
    content: 'Back to top';
    padding-block: 9px;
    padding-inline-end: 23px;
    padding-inline-start: 16px;
    width: 105px;
    height: 35px;
    background-image: url('/static-assets/block-arrow-blue.svg');
    margin-inline-end: 5px;
    position: absolute;
    inset-inline: -115px;
    color: var(--color-white);
    text-decoration: none;
    font:
      normal 300 13px / 130% var(--font-family-body),
      sans-serif;
    top: 17.5px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .to-top-btn.active::after {
    content: url('/static-assets/to-top-arrows.svg');
    height: 40px;
    width: 20px;
    position: absolute;
    transform: none;
    top: 19px;
    inset-inline-end: 23px;
    cursor: pointer;
  }
}
