/* stylelint-disable */
.btn-primary,
.btn-secondary,
.btn-blue,
.btn-tertiary,
.btn-icon,
.btn-download,
a.btn-primary,
a.btn-secondary,
a.btn-blue,
a.btn-tertiary,
a.btn-icon,
a.btn-download,
button.btn-primary,
button.btn-secondary,
button.btn-blue,
button.btn-tertiary,
button.btn-icon,
button.btn-download,
.btn-primary-dark,
.btn-secondary-dark,
.btn-blue-dark,
.btn-tertiary-dark,
.btn-icon-dark,
.btn-download-dark,
a.btn-primary-dark,
a.btn-secondary-dark,
a.btn-blue-dark,
a.btn-tertiary-dark,
a.btn-icon-dark,
a.btn-download-dark,
button.btn-primary-dark,
button.btn-secondary-dark,
button.btn-blue-dark,
button.btn-tertiary-dark,
button.btn-icon-dark,
button.btn-download-dark {
  padding: 1em;
  border-radius: 10px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.13px;
  text-decoration: none !important;
  align-items: center;
  cursor: pointer;
  max-width: max-content;
  display: flex;
  height: fit-content;
  width: fit-content;
  max-height: max-content;
  align-self: center;
  min-width: fit-content;
}

.btn-primary > a,
.btn-secondary > a,
.btn-blue > a,
.btn-tertiary > a,
.btn-icon > a,
.btn-download > a {
  text-decoration: none !important;
  font-weight: 400;
}

.btn-primary::after,
.btn-secondary::after,
.btn-blue::after,
.btn-tertiary::after,
.btn-icon::after,
.btn-download::after,
a.btn-primary::after,
a.btn-secondary::after,
a.btn-blue::after,
a.btn-tertiary::after,
a.btn-icon::after,
a.btn-download::after,
button.btn-primary::after,
button.btn-secondary::after,
button.btn-blue::after,
button.btn-tertiary::after,
button.btn-icon::after,
button.btn-download::after,
.btn-primary-dark::after,
.btn-secondary-dark::after,
.btn-blue-dark::after,
.btn-tertiary-dark::after,
.btn-icon-dark::after,
.btn-download-dark::after,
a.btn-primary-dark::after,
a.btn-secondary-dark::after,
a.btn-blue-dark::after,
a.btn-tertiary-dark::after,
a.btn-icon-dark::after,
a.btn-download-dark::after,
button.btn-primary-dark::after,
button.btn-secondary-dark::after,
button.btn-blue-dark::after,
button.btn-tertiary-dark::after,
button.btn-icon-dark::after,
button.btn-download-dark::after {
  content: url('../assets/icons/double-caret-active.svg');
  margin-inline-start: 8px;
  height: inherit;
  width: 20px;
  transition: 300ms ease-in-out padding;
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: -1px;
}

[dir='rtl'] .btn-primary::after,
[dir='rtl'] .btn-secondary::after,
[dir='rtl'] .btn-blue::after,
[dir='rtl'] .btn-tertiary::after,
[dir='rtl'] .btn-icon::after,
[dir='rtl'] .btn-download::after,
[dir='rtl'] a.btn-primary::after,
[dir='rtl'] a.btn-secondary::after,
[dir='rtl'] a.btn-blue::after,
[dir='rtl'] a.btn-tertiary::after,
[dir='rtl'] a.btn-icon::after,
[dir='rtl'] a.btn-download::after,
[dir='rtl'] button.btn-primary::after,
[dir='rtl'] button.btn-secondary::after,
[dir='rtl'] button.btn-blue::after,
[dir='rtl'] button.btn-tertiary::after,
[dir='rtl'] button.btn-icon::after,
[dir='rtl'] button.btn-download::after,
[dir='rtl'] .btn-primary-dark::after,
[dir='rtl'] .btn-secondary-dark::after,
[dir='rtl'] .btn-blue-dark::after,
[dir='rtl'] .btn-tertiary-dark::after,
[dir='rtl'] .btn-icon-dark::after,
[dir='rtl'] .btn-download-dark::after,
[dir='rtl'] a.btn-primary-dark::after,
[dir='rtl'] a.btn-secondary-dark::after,
[dir='rtl'] a.btn-blue-dark::after,
[dir='rtl'] a.btn-tertiary-dark::after,
[dir='rtl'] a.btn-icon-dark::after,
[dir='rtl'] a.btn-download-dark::after,
[dir='rtl'] button.btn-primary-dark::after,
[dir='rtl'] button.btn-secondary-dark::after,
[dir='rtl'] button.btn-blue-dark::after,
[dir='rtl'] button.btn-tertiary-dark::after,
[dir='rtl'] button.btn-icon-dark::after,
[dir='rtl'] button.btn-download-dark::after {
  content: url('../assets/icons/double-caret-active-left.svg');
}

.btn-primary:hover::after,
.btn-secondary:hover::after,
.btn-blue:hover::after,
.btn-tertiary:hover::after,
.btn-icon:hover::after,
.btn-download:hover::after,
a.btn-primary:hover::after,
a.btn-secondary:hover::after,
a.btn-blue:hover::after,
a.btn-tertiary:hover::after,
a.btn-icon:hover::after,
a.btn-download:hover::after,
button.btn-primary:hover::after,
button.btn-secondary:hover::after,
button.btn-blue:hover::after,
button.btn-tertiary:hover::after,
button.btn-icon:hover::after,
button.btn-download:hover::after,
.btn-primary-dark:hover::after,
.btn-secondary-dark:hover::after,
.btn-blue-dark:hover::after,
.btn-tertiary-dark:hover::after,
.btn-icon-dark:hover::after,
.btn-download-dark:hover::after,
a.btn-primary-dark:hover::after,
a.btn-secondary-dark:hover::after,
a.btn-blue-dark:hover::after,
a.btn-tertiary-dark:hover::after,
a.btn-icon-dark:hover::after,
a.btn-download-dark:hover::after,
button.btn-primary-dark:hover::after,
button.btn-secondary-dark:hover::after,
button.btn-blue-dark:hover::after,
button.btn-tertiary-dark:hover::after,
button.btn-icon-dark:hover::after,
button.btn-download-dark:hover::after {
  padding-inline-start: 3px;
}

/* Primary CTA */
.btn-primary,
button.btn-primary,
a.btn-primary {
  background-image: var(--color-purple-gradient);
  color: var(--color-white);
}

.btn-primary-dark,
a.btn-primary-dark,
button.btn-primary-dark,
[data-theme='dark'] .btn-primary,
[data-theme='dark'] a.btn-primary,
[data-theme='dark'] button.btn-primary {
  background-image: none;
  background-color: transparent;
  border: 1px solid var(--color-im-orange);
  color: var(--color-white);
}

.btn-primary-dark > a,
[data-theme='dark'] .btn-primary > a {
  color: var(--color-white);
}

.btn-primary-dark::after,
a.btn-primary-dark::after,
button.btn-primary-dark::after,
[data-theme='dark'] .btn-primary::after,
[data-theme='dark'] a.btn-primary::after,
[data-theme='dark'] button.btn-primary::after {
  content: url('../assets/icons/double-caret-active.svg');
}

[dir='rtl'] .btn-primary-dark::after,
[dir='rtl'] a.btn-primary-dark::after,
[dir='rtl'] button.btn-primary-dark::after,
[dir='rtl'] [data-theme='dark'] .btn-primary::after,
[dir='rtl'] [data-theme='dark'] a.btn-primary::after,
[dir='rtl'] [data-theme='dark'] button.btn-primary::after {
  content: url('../assets/icons/double-caret-active-left.svg');
}

/* Secondary CTA */
.btn-secondary,
a.btn-secondary,
button.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--color-im-orange);
  color: var(--color-im-grey);
}

.btn-secondary > a {
  color: var(--color-im-grey);
}

.btn-secondary:after,
a.btn-secondary:after,
button.btn-secondary:after {
  content: url('../assets/icons/double-caret-grey.svg');
}

[dir='rtl'] .btn-secondary:after,
[dir='rtl'] a.btn-secondary:after,
[dir='rtl'] button.btn-secondary:after {
  content: url('../assets/icons/double-caret-grey-left.svg');
}

.btn-secondary-dark,
a.btn-secondary-dark,
button.btn-secondary-dark,
[data-theme='dark'] .btn-secondary,
[data-theme='dark'] a.btn-secondary,
[data-theme='dark'] button.btn-secondary,
[data-background-color='dark'] .btn-secondary,
[data-background-color='dark'] a.btn-secondary,
[data-background-color='dark'] button.btn-secondary {
  background-image: none;
  background-color: transparent;
  border: 1px solid var(--color-im-orange);
  color: var(--color-white);
}

.btn-secondary-dark > a,
[data-theme='dark'] .btn-secondary > a {
  color: var(--color-white);
}

.btn-secondary-dark::after,
a.btn-secondary-dark::after,
button.btn-secondary-dark::after,
[data-theme='dark'] .btn-secondary::after,
[data-theme='dark'] a.btn-secondary::after,
[data-theme='dark'] button.btn-secondary::after,
[data-background-color='dark'] .btn-secondary::after,
[data-background-color='dark'] a.btn-secondary::after,
[data-background-color='dark'] button.btn-secondary::after {
  content: url('../assets/icons/double-caret-active.svg');
}

[dir='rtl'] .btn-secondary-dark::after,
[dir='rtl'] a.btn-secondary-dark::after,
[dir='rtl'] button.btn-secondary-dark::after,
[dir='rtl'] [data-theme='dark'] .btn-secondary::after,
[dir='rtl'] [data-theme='dark'] a.btn-secondary::after,
[dir='rtl'] [data-theme='dark'] button.btn-secondary::after,
[dir='rtl'] [data-background-color='dark'] .btn-secondary::after,
[dir='rtl'] [data-background-color='dark'] a.btn-secondary::after,
[dir='rtl'] [data-background-color='dark'] button.btn-secondary::after {
  content: url('../assets/icons/double-caret-active-left.svg');
}

/* Blue CTA */
.btn-blue,
a.btn-blue,
button.btn-blue {
  background-image: var(--color-dark-blue-gradient);
  color: var(--color-white);
}

.btn-blue > a {
  color: var(--color-white);
}

.btn-blue-dark,
a.btn-blue-dark,
button.btn-blue-dark,
[data-theme='dark'] .btn-blue,
[data-theme='dark'] a.btn-blue,
[data-theme='dark'] button.btn-blue {
  background-image: none;
  background-color: transparent;
  border: 1px solid var(--color-im-orange);
  color: var(--color-white);
}

.btn-blue-dark > a,
[data-theme='dark'] .btn-blue > a {
  color: var(--color-white);
}

.btn-blue-dark::after,
a.btn-blue-dark::after,
button.btn-blue-dark::after,
[data-theme='dark'] .btn-blue::after,
[data-theme='dark'] a.btn-blue::after,
[data-theme='dark'] button.btn-blue::after {
  content: url('../assets/icons/double-caret-active.svg');
}

[dir='rtl'] .btn-blue-dark::after,
[dir='rtl'] a.btn-blue-dark::after,
[dir='rtl'] button.btn-blue-dark::after,
[dir='rtl'] [data-theme='dark'] .btn-blue::after,
[dir='rtl'] [data-theme='dark'] a.btn-blue::after,
[dir='rtl'] [data-theme='dark'] button.btn-blue::after {
  content: url('../assets/icons/double-caret-active-left.svg');
}

/* Tertiary CTA */
.btn-tertiary,
a.btn-tertiary,
button.btn-tertiary {
  background: transparent;
  color: var(--color-im-mid-blue);
  padding-inline: 0;
  padding-block: 0 0.6em;
  border-bottom: 1px solid var(--color-light-grey);
  border-radius: 0;
}

.btn-tertiary > a {
  color: var(--color-im-mid-blue);
}

.btn-tertiary::after,
a.btn-tertiary::after,
button.btn-tertiary::after {
  content: url('../assets/icons/double-caret-blue.svg');
  transition: 200ms ease-in-out padding;
}

[dir='rtl'] .btn-tertiary::after,
[dir='rtl'] a.btn-tertiary::after,
[dir='rtl'] button.btn-tertiary::after {
  content: url('../assets/icons/double-caret-blue-left.svg');
}

a.btn-tertiary:hover,
button.btn-tertiary:hover {
  border-color: var(--color-im-mid-blue);
}

.btn-tertiary-dark,
a.btn-tertiary-dark,
button.btn-tertiary-dark,
[data-theme='dark'] .btn-tertiary,
[data-theme='dark'] a.btn-tertiary,
[data-theme='dark'] button.btn-tertiary,
[data-background-color='dark'] .btn-tertiary,
[data-background-color='dark'] a.btn-tertiary,
[data-background-color='dark'] button.btn-tertiary {
  background: transparent;
  padding-inline: 0;
  padding-block: 0em 0.6em;
  border-radius: 0;
  border-bottom: 1px solid var(--color-im-orange);
  color: var(--color-white);
}

.btn-tertiary-dark > a,
[data-theme='dark'] .btn-tertiary > a,
[data-background-color='dark'] .btn-tertiary > a {
  color: var(--color-white);
}

.btn-tertiary-dark::after,
a.btn-tertiary-dark::after,
button.btn-tertiary-dark::after,
[data-theme='dark'] .btn-tertiary::after,
[data-theme='dark'] a.btn-tertiary::after,
[data-theme='dark'] button.btn-tertiary::after,
[data-background-color='dark'] .btn-tertiary::after,
[data-background-color='dark'] a.btn-tertiary::after,
[data-background-color='dark'] button.btn-tertiary::after {
  content: url('../assets/icons/double-caret-active.svg');
  transition: 200ms ease-in-out padding;
}

[dir='rtl'] .btn-tertiary-dark::after,
[dir='rtl'] a.btn-tertiary-dark::after,
[dir='rtl'] button.btn-tertiary-dark::after,
[dir='rtl'] [data-theme='dark'] .btn-tertiary::after,
[dir='rtl'] [data-theme='dark'] a.btn-tertiary::after,
[dir='rtl'] [data-theme='dark'] button.btn-tertiary::after,
[dir='rtl'] [data-background-color='dark'] .btn-tertiary::after,
[dir='rtl'] [data-background-color='dark'] a.btn-tertiary::after,
[dir='rtl'] [data-background-color='dark'] button.btn-tertiary::after {
  content: url('../assets/icons/double-caret-active-left.svg');
}

.btn-tertiary-dark:hover,
a.btn-tertiary-dark:hover,
button.btn-tertiary-dark:hover,
[data-theme='dark'] .btn-tertiary:hover,
[data-theme='dark'] a.btn-tertiary:hover,
[data-theme='dark'] button.btn-tertiary:hover,
[data-background-color='dark'] .btn-tertiary:hover,
[data-background-color='dark'] a.btn-tertiary:hover,
[data-background-color='dark'] button.btn-tertiary:hover {
  border-color: var(--color-im-light-blue);
}

/* Icon Button */
.btn-icon,
a.btn-icon,
button.btn-icon,
.btn-icon-dark,
a.btn-icon-dark,
button.btn-icon-dark,
[data-theme='dark'] .btn-icon,
[data-theme='dark'] a.btn-icon,
[data-theme='dark'] button.btn-icon {
  display: inline-block;
  border: 1px solid var(--color-im-orange);
  background-color: var(--color-white);
  padding: 1em 2em;
  white-space: nowrap;
  color: var(--color-im-grey);
  line-height: 131%;
  letter-spacing: 0.24px;
}

.btn-icon > a,
.btn-icon-dark > a,
[data-theme='dark'] .btn-icon > a {
  color: var(--color-im-grey);
}

.btn-icon::after,
a.btn-icon::after,
button.btn-icon::after,
.btn-icon-dark::after,
a.btn-icon-dark::after,
button.btn-icon-dark::after,
[data-theme='dark'] .btn-icon::after,
[data-theme='dark'] a.btn-icon::after,
[data-theme='dark'] button.btn-icon::after {
  display: none;
}

.btn-icon[data-icon='icon-shopping-cart']::before,
a.btn-icon[data-icon='icon-shopping-cart']::before,
button.btn-icon[data-icon='icon-shopping-cart']::before,
.btn-icon-dark[data-icon='icon-shopping-cart']::before,
a.btn-icon-dark[data-icon='icon-shopping-cart']::before,
button.btn-icon-dark[data-icon='icon-shopping-cart']::before,
[data-theme='dark'] .btn-icon[data-icon='icon-shopping-cart']::before,
[data-theme='dark'] a.btn-icon[data-icon='icon-shopping-cart']::before,
[data-theme='dark'] button.btn-icon[data-icon='icon-shopping-cart']::before {
  content: url('../assets/icons/shopping-cart.svg');
  margin-inline-end: 8px;
  height: inherit;
  width: 20px;
  transition: 300ms ease-in-out padding;
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 0;
}

/* Download Button */
.btn-download,
a.btn-download,
button.btn-download {
  border: none;
  display: block;
  color: var(--color-im-mid-blue);
  line-height: 131%;
  letter-spacing: 0.12px;
  padding-inline: 0;
  padding-block: 1em;
  background-color: transparent;
}

.btn-download > a {
  color: var(--color-im-mid-blue);
}

.btn-download::before,
a.btn-download::before,
button.btn-download::before {
  content: url('../assets/icons/download.svg');
  margin-inline-end: 8px;
  vertical-align: middle;
  transition: 300ms ease-in-out padding;
}

.btn-download::after,
a.btn-download::after,
button.btn-download::after {
  display: none;
}

.btn-download-dark,
a.btn-download-dark,
button.btn-download-dark,
[data-theme='dark'] .btn-download,
[data-theme='dark'] a.btn-download,
[data-theme='dark'] button.btn-download,
[data-background-color='dark'] .btn-download,
[data-background-color='dark'] a.btn-download,
[data-background-color='dark'] button.btn-download {
  border: none;
  display: block;
  color: var(--color-white);
  line-height: 131%;
  letter-spacing: 0.12px;
  padding-inline: 0;
  padding-block: 1em;
  background-color: transparent;
}

.btn-download-dark > a,
[data-theme='dark'] .btn-download > a,
[data-background-color='dark'] .btn-download > a {
  color: var(--color-white);
}

.btn-download-dark::before,
a.btn-download-dark::before,
button.btn-download-dark::before,
[data-theme='dark'] .btn-download::before,
[data-theme='dark'] a.btn-download::before,
[data-theme='dark'] button.btn-download::before,
[data-background-color='dark'] .btn-download::before,
[data-background-color='dark'] a.btn-download::before,
[data-background-color='dark'] button.btn-download::before {
  content: url('../assets/icons/download-white.svg');
  margin-inline-end: 8px;
  vertical-align: middle;
  transition: 300ms ease-in-out padding;
}

.btn-download-dark::after,
a.btn-download-dark::after,
button.btn-download-dark::after,
[data-theme='dark'] .btn-download::after,
[data-theme='dark'] a.btn-download::after,
[data-theme='dark'] button.btn-download::after,
[data-background-color='dark'] .btn-download::after,
[data-background-color='dark'] a.btn-download::after,
[data-background-color='dark'] button.btn-download::after {
  display: none;
}

/* Full width buttons */
[data-button-width='full'] .btn-primary,
[data-button-width='full'] .btn-secondary,
[data-button-width='full'] .btn-blue,
[data-button-width='full'] .btn-icon,
[data-button-width='full'] a.btn-primary,
[data-button-width='full'] a.btn-secondary,
[data-button-width='full'] a.btn-blue,
[data-button-width='full'] a.btn-icon,
[data-button-width='full'] button.btn-primary,
[data-button-width='full'] button.btn-secondary,
[data-button-width='full'] button.btn-blue,
[data-button-width='full'] button.btn-icon,
[data-button-width='full'] .btn-secondary-dark,
[data-button-width='full'] .btn-primary-dark,
[data-button-width='full'] .btn-blue-dark,
[data-button-width='full'] .btn-icon-dark,
[data-button-width='full'] a.btn-primary-dark,
[data-button-width='full'] a.btn-secondary-dark,
[data-button-width='full'] a.btn-blue-dark,
[data-button-width='full'] a.btn-icon-dark,
[data-button-width='full'] button.btn-primary-dark,
[data-button-width='full'] button.btn-secondary-dark,
[data-button-width='full'] button.btn-blue-dark,
[data-button-width='full'] button.btn-icon-dark {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

/* Tab element */
div.tag-icon {
  border: 1px solid var(--color-im-light-blue);
  border-radius: 40px;
  padding: 5px 14px;
  font: normal 300 10px / 200% var(--font-family-body);
  color: var(--color-im-grey);
  max-width: max-content;
  letter-spacing: 0.2px;
  background-color: var(--color-white);
}

div.tag-icon[data-icon='icon-shopping-cart']::before {
  content: url('../assets/icons/shopping-cart.svg');
  margin-inline-end: 8px;
  height: 18px;
  width: 20px;
  transition: 300ms ease-in-out padding;
  display: inline-flex;
  vertical-align: middle;
}

[data-btn-flex-container='row'] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;
}

[data-btn-flex-container='column'] {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

[data-btn-flex-container='column'] > * {
  align-self: flex-start !important;
}

/* Experience Editor */

.editing-mode .btn-primary a,
.editing-mode .btn-primary-dark a,
.editing-mode .btn-secondary a,
.editing-mode .btn-secondary-dark a,
.editing-mode .btn-blue a,
.editing-mode .btn-blue-dark a,
.editing-mode .btn-tertiary a,
.editing-mode .btn-tertiary-dark a,
.editing-mode .btn-icon a,
.editing-mode .btn-icon-dark a,
.editing-mode .btn-download a,
.editing-mode .btn-download-dark a {
  text-decoration: none;
}

.editing-mode .btn-primary a,
.editing-mode .btn-blue a,
.editing-mode .btn-primary-dark a,
.editing-mode .btn-blue-dark a,
.editing-mode .btn-secondary-dark a,
.editing-mode [data-theme='dark'] .btn-secondary a,
.editing-mode [data-theme='dark'] .btn-tertiary a,
.editing-mode .btn-tertiary-dark a,
.editing-mode [data-theme='dark'] .btn-download a,
.editing-mode .btn-download-dark a {
  color: var(--color-white);
}

.editing-mode .btn-secondary a,
.editing-mode .btn-icon a,
.editing-mode .btn-icon-dark a,
.editing-mode [data-theme='dark'] .btn-icon-dark a {
  color: var(--color-im-grey);
}

.editing-mode .btn-tertiary a,
.editing-mode .btn-download a {
  color: var(--color-im-mid-blue);
}

/* Span button link adjustments */

a:has(.btn-primary),
a:has(.btn-secondary),
a:has(.btn-blue),
a:has(.btn-tertiary),
a:has(.btn-icon),
a:has(.btn-download),
a:has(.btn-primary-dark),
a:has(.btn-secondary-dark),
a:has(.btn-blue-dark),
a:has(.btn-tertiary-dark),
a:has(.btn-icon-dark),
a:has(.btn-download-dark) {
  text-decoration: none !important;
}

[dir='rtl'] a[href^='tel'] {
  direction: ltr;
  flex-direction: row-reverse;
}
