:root {
  --diamond-size: 135;
}

.diamond-grid {
  --diamond-size-px: calc(var(--diamond-size) * 1px);

  position: relative;
  transition: all 1s ease-in-out;
  counter-reset: index;
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: var(--diamond-columns);
  grid-template-rows: var(--diamond-rows);
  gap: calc(var(--diamond-size-px) / 10);
  rotate: 45deg;
  transform-origin: top left;
  translate: calc(var(--diamond-grid-left) * 1px)
    calc(var(--diamond-grid-top) * 1px);
  height: calc(var(--diamond-grid-height) * 1px);
}

[dir='rtl'] .diamond-grid {
  rotate: -45deg;
}

@media screen and (width >= 1024px) {
  .diamond-grid {
    --diamond-size-px: calc(var(--diamond-size) * 2 * 1px);

    translate: calc(var(--diamond-grid-left) * 2 * 1px)
      calc(var(--diamond-grid-top) * 2 * 1px);
    height: calc(var(--diamond-grid-height) * 2 * 1px);
  }
}
