.font-header-xl,
.font-header-h1,
.font-header-h2,
.font-header-h3,
.font-header-h4,
.font-header-h5 {
  color: var(--color-im-dark-blue);
}

.font-header-xl {
  font: var(--font-header-xl-mobile);
}

.font-header-h1 {
  font: var(--font-header-h1-mobile);
}

.font-header-h2 {
  font: var(--font-header-h2-mobile);
}

.font-header-h3 {
  font: var(--font-header-h3-mobile);
}

.font-header-h4 {
  font: var(--font-header-h4-mobile);
}

.font-header-h5 {
  font: var(--font-header-h5-mobile);
  letter-spacing: 0.36px;
}

.font-subheader,
.font-body,
.font-body-sm,
.font-list {
  color: var(--color-im-grey);
}

.font-subheader {
  font: var(--font-subheader-mobile);
}

.font-eyebrow {
  color: var(--color-im-grey-80);
  font: var(--font-eyebrow-mobile);
  text-transform: capitalize;
}

.font-body,
.font-body p {
  font: var(--font-body-mobile);

  > a {
    font: var(--font-body-bold-mobile);
    text-decoration: underline;
    text-decoration-color: var(--color-light-grey);
    color: var(--color-im-mid-blue);
  }

  > b {
    font: var(--font-body-bold-mobile);
  }
}

.font-body-sm {
  font: var(--font-body-sm);
}

.font-list ul:not(.icon-list, [role='list']) {
  padding-inline-start: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.font-list ul:not(.icon-list, [role='list']) li ul {
  margin-top: 10px;
  margin-bottom: 0;
}

.font-list ul:not(.icon-list, [role='list']) > li {
  font: var(--font-list-item-mobile);
  padding-inline-start: 10px;
  list-style: none;
  position: relative;
}

.font-list ul:not(.icon-list, [role='list']) li::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 1.5px solid var(--color-im-mid-blue);
  transform: rotate(45deg);
  flex-shrink: 0;
  display: inline-flex;
  top: 6px;
  inset-inline-start: -5px;
  position: absolute;
}

[data-theme='dark'] .font-list ul:not(.icon-list, [role='list']) li::before,
[data-theme='dkTheme'] .font-list ul:not(.icon-list, [role='list']) li::before {
  border-color: var(--color-im-orange);
}

[data-theme='dark'] .font-list,
[data-theme='dkTheme'] .font-list {
  color: var(--color-white);
}

[data-context-lang='bg-BG'],
[data-context-lang='el-GR'],
[data-context-lang='bg-bg'],
[data-context-lang='el-gr'],
[data-context-lang='ro-RO'],
[data-context-lang='ro-ro'],
[data-context-lang='vi-vn'],
[data-context-lang='vi-VN'] {
  --font-family-header: 'Calibri', arial, sans-serif;
  --font-family-body: 'Calibri', arial, sans-serif;
}

[data-context-lang='hu-hu'],
[data-context-lang='hu-HU'],
[data-context-lang='pl-pl'],
[data-context-lang='pl-PL'],
[data-context-lang='cs-cz'],
[data-context-lang='cs-CZ'],
[data-context-lang='sr'],
[data-context-lang='sk-sk'],
[data-context-lang='sk-SK'],
[data-context-lang='hr-hr'],
[data-context-lang='hr-HR'] {
  --font-family-body: 'Calibri', arial, sans-serif;
}

[data-context-lang='tr-TR'],
[data-context-lang='tr-tr'] {
  --font-family-header: 'system-ui', arial, sans-serif;
  --font-family-body: 'Calibri', arial, sans-serif;
  --font-header-h4: normal 400 23px / 125% 'system-ui', arial, sans-serif;
  --font-header-h5: normal 400 16px / 130% 'system-ui', arial, sans-serif;
}

[data-context-lang='el-GR'],
[data-context-lang='el-gr'] {
  --font-header-h1: normal 400 52px / 95% var(--font-family-header);
  --font-header-h2: normal 400 42px / 100% var(--font-family-header);
  --font-header-h3: normal 400 36px / 100% var(--font-family-header);
}

@media screen and (width >= 1280px) {
  .font-header-xl {
    font: var(--font-header-xl);
  }

  .font-header-h1 {
    font: var(--font-header-h1);
  }

  .font-header-h2 {
    font: var(--font-header-h2);
  }

  .font-header-h3 {
    font: var(--font-header-h3);
  }

  .font-header-h4 {
    font: var(--font-header-h4);
    letter-spacing: 0.5px;
  }

  .font-header-h5 {
    font: var(--font-header-h5);
    letter-spacing: 0.26px;
  }

  .font-subheader {
    font: var(--font-subheader);
    letter-spacing: 0.4px;
  }

  .font-eyebrow {
    font: var(--font-eyebrow);
  }

  .font-body,
  .font-body p {
    font: var(--font-body);

    > a,
    > b {
      font: var(--font-body-bold);
    }
  }

  .font-body-sm {
    font: var(--font-body-sm);
  }

  .font-list ul li,
  .font-list ul:not(.icon-list, [role='list']) > li {
    font: var(--font-list-item);
  }

  .font-list ul:not(.icon-list, [role='list']) li::before {
    top: 11px;
  }
}
