.location-finder-map-container {
  background-color: var(--color-background-3);
  padding: 70px 0;
  clear: both;
  margin: auto;
  max-width: 1920px;
}

.location-finder-map {
  background-color: var(--color-background-3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-finder-map h2 {
  font-family: var(--font-family-header);
  font-size: 28px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  color: var(--color-white);
  max-width: 313px;
}

.map {
  margin-block-start: 40px;
  width: 100%;
  height: 600px;
}

.map > div {
  background: linear-gradient(
    to bottom,
    var(--color-background-3) 50%,
    var(--color-im-mid-blue) 50%
  );
}

.legend {
  margin-block-start: 7px;
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-item-icon {
  width: 12px;
  height: 17.5px;
}

.legend-item-text {
  font-family: var(--font-family-body);
  font-size: 10px;
  font-weight: 300;
  color: var(--color-white);
}

.country-list {
  margin-block-start: 64px;
  width: 100%;
  max-width: calc(100% - 48px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 48px;
}

.country-list ul {
  list-style-type: none;
}

.parent {
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-white);
}

.child {
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  width: 124px;
}

.child a {
  color: var(--color-im-light-blue);
  text-decoration: none;
}

.child a:hover {
  text-decoration: underline 1px solid var(--color-im-light-blue);
}

.country-list li ul {
  margin-block-start: 13px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) {
  border-radius: 15px;
  width: 328px;
  max-width: 328px !important;
  max-height: none !important;
  padding-inline: 25px !important;
  padding-block-start: 30px !important;
  padding-block-end: 25px !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) > div {
  overflow: hidden !important;
  max-height: none !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.top-content) {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.name-container) {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.location) {
  font-family: var(--font-family-header);
  font-size: 24px;
  font-weight: 300;
  color: var(--color-alt-blue);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.name) {
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-im-grey);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.btn-tertiary) {
  padding-top: 0.6em;
  border-top: 1px solid transparent;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.btn-tertiary:hover) {
  border-top: 1px solid transparent;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.image-container) {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global(.image) {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* stylelint-disable */
.location-finder-map :global([role='dialog']) ul,
.location-finder-map :global([role='dialog']) ul li {
  /* stylelint-enable */
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-family-body);
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) ul {
  margin: 20px 0 !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-inline-start: 5px !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) ul li::before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-im-mid-blue);
  transform: rotate(45deg);
  flex-shrink: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) a {
  display: inline-block;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) a:first-of-type::after {
  content: url('/static-assets/arrows-white.svg');
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) button {
  content: '' !important;
  background-image: url('/static-assets/close-im-grey.svg') !important;
  background-size: cover !important;
  background-position: center !important;
  width: 12px !important;
  height: 12px !important;
  inset-inline-end: 14px !important;
  opacity: 1;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.location-finder-map :global([role='dialog']) button span {
  display: none !important;
}

@media screen and (width >= 1440px) {
  .location-finder-map {
    padding-inline: 0;
    padding-block-start: 100px;
    padding-block-end: 61px;
  }

  .location-finder-map h2 {
    font-size: 42px;
    line-height: 42px;
    color: var(--color-white);
    max-width: 1032px;
  }

  .map {
    margin-block-start: 50px;
    width: 1241px;
    height: 661px;
    border-radius: 10px;
    border: 1px solid var(--color-im-light-blue);
  }

  .legend {
    margin-block-start: 10px;
  }

  .legend-item {
    gap: 8px;
  }

  .legend-item-text {
    font-size: 13px;
  }

  .country-list {
    margin-block-start: 42px;
    max-width: none;
  }

  .country-list li ul {
    margin-block-start: 20px;
    max-height: 200px;
    display: flex;
    flex-flow: column wrap;
  }

  .country-list li.parent {
    font-size: 20px;
    line-height: 25px;
  }

  .country-list li.child,
  .country-list li.child * {
    font-size: 18px;
    line-height: 28.8px;
  }

  .child {
    width: 150px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .location-finder-map :global(.top-content) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .location-finder-map :global(.image-container) {
    width: 278px;
    height: 139px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .location-finder-map :global(.name) {
    font-size: 16px;
    line-height: 20px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .location-finder-map :global([role='dialog']) ul {
    margin-bottom: 27px !important;
    gap: 14px;
  }

  /* stylelint-disable */
  .location-finder-map :global([role='dialog']) ul,
  .location-finder-map :global([role='dialog']) ul li {
    /* stylelint-enable */
    font-size: 13px;
    line-height: 16.9px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .location-finder-map :global([role='dialog']) ul li {
    margin-inline-start: 10px !important;
  }
}
