/* TODO: Make Global? */
.two-column {
  max-width: 1920px;
  clear: both;
  margin: 0;
  padding: 20px;
}

.two-column > div > div[data-is-mini-card='true'] {
  padding: 0;
  margin-bottom: 20px;
  padding-top: 20px;
}

.event-body-content {
  font: var(--font-body-mobile);
}

.event-body-content h2 {
  font: var(--font-header-h2-mobile);
  margin-bottom: 20px;
}

.event-body-content h3 {
  font: var(--font-header-h3-mobile);
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.event-body-content h4 {
  font: var(--font-header-h4-mobile);
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.event-body-content h5 {
  font: var(--font-header-h5-mobile);
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.event-body-content h6 {
  font: var(--font-header-h5-mobile);
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.event-body-content p sup {
  line-height: normal;
}

@media screen and (width >= 1280px) {
  .two-column {
    margin: 50px 200px;
  }

  .two-column [data-is-mini-card='true'] {
    padding: 0 0 0 10px;
  }

  .two-column[data-nested='false'] {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .two-column > div > div[data-is-mini-card='true'] {
    padding-top: 0;
  }

  .two-column[data-proportions='70-30'] > div:last-of-type {
    width: 30%;
  }

  .two-column[data-proportions='70-30'] > div:first-of-type {
    width: 70%;
  }

  .event-body-content {
    font: var(--font-body);
  }

  .event-body-content h2 {
    font: var(--font-header-h2);
  }

  .event-body-content h3 {
    font: var(--font-header-h3);
  }

  .event-body-content h4 {
    font: var(--font-header-h4);
  }

  .event-body-content h5 {
    font: var(--font-header-h5);
  }

  .event-body-content h6 {
    font: var(--font-header-h5);
  }
}

.event-body-content img,
.event-body-content video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.event-body-content
  p
  > a:not(
    .btn-blue,
    .btn-primary,
    .btn-secondary,
    .btn-tertiary,
    .btn-icon,
    .btn-download
  ) {
  color: var(--color-im-mid-blue);
  font-weight: 700;
}

.event-body-content ol > li::marker {
  color: var(--color-im-mid-blue);
}

.event-body-content ul {
  padding-inline-start: 30px;
  margin-bottom: 20px;
}

.event-body-content ol {
  padding-inline-start: 30px;
  margin-bottom: 20px;
}

.event-body-content li {
  padding-inline-start: 10px;
}

.event-body-content p {
  margin-bottom: 20px;
}

.event-body-content table {
  border-collapse: collapse;
  margin-bottom: 20px;
  display: block;
}

.event-body-content th,
.event-body-content td {
  border: 1px solid var(--color-light-grey);
  padding: 5px 15px;
}

.event-body-content th {
  background-color: var(--color-background-2);
}

.event-body-content hr {
  background-color: var(--color-background-2);
  height: 1px;
  margin-bottom: 20px;
}

.downloadlink {
  margin-bottom: 30px;
}
