.text-diamond-split {
  margin: 100px auto 20px;
  max-width: 768px;
  position: relative;
  clear: both;
}

.text-diamond-split + * {
  clear: both;
}

.text-diamond-split ul,
.text-diamond-split ol {
  display: inline-block;
}

.diamonds {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.diamonds[data-group='one'] {
  width: 300px;
}

.diamonds[data-group='two'] {
  position: absolute;
  left: 225px;
  width: 95px;
}

.diamonds[data-group='two']:empty {
  display: none;
}

.diamonds > div {
  width: 50%;
}

.headline {
  color: var(--color-im-dark-blue);
  margin-bottom: 25px;
  margin-top: 25px;
}

.content {
  padding: 0 20px;
  color: var(--color-im-grey);
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
}

.content h3 {
  color: var(--color-im-dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 25px;
}

.content p {
  margin-bottom: 15px;
}

.content p sup {
  line-height: normal;
}

.content ul li a {
  text-decoration: none;
  color: var(--color-im-grey);
}

.diamonds[data-group='one'] > div:nth-child(1) > [data-tile] {
  --tile-size: 40px;
}

.diamonds[data-group='one'] > div:nth-child(2) > [data-tile] {
  --tile-size: 105px;

  inset-inline-start: -60px;
}

.diamonds[data-group='one'] > div:nth-child(3) > [data-tile] {
  --tile-size: 105px;

  top: -30px;
}

.diamonds[data-group='one'] > div:nth-child(4) > [data-tile] {
  --tile-size: 35px;

  inset-inline-start: -35px;
}

.diamonds[data-group='two'] > div:nth-child(1) > [data-tile] {
  --tile-size: 40px;
}

.diamonds[data-group='two'] > div:nth-child(2) > [data-tile] {
  --tile-size: 75px;

  inset: 35px -5px;
}

.diamonds[data-group='two'] > div:nth-child(3) > [data-tile] {
  --tile-size: 100px;

  inset: 5px -50px;
}

.diamonds[data-group='two'] > div:nth-child(4) > [data-tile] {
  --tile-size: 60px;

  inset: 5px 50px;
}

@media screen and (width >= 1280px) {
  .text-diamond-split {
    max-width: 1920px;
    margin: auto;
    margin-top: 100px;
    padding-top: 100px;
  }

  .diamonds {
    height: 800px;
    display: inline-flex;
    align-items: center;
    position: relative;
  }

  .diamonds[data-group='one'] {
    width: 51%;
    float: right;
    justify-content: flex-end;
    inset-inline-start: 50px;
    top: -150px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .diamonds[data-group='one'] {
    float: left;
  }

  .diamonds[data-group='two'] {
    position: relative;
    width: 54%;
    float: left;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 350px;
    inset: -225px 200px;
    z-index: -1;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .diamonds[data-group='two'] {
    float: right;
  }

  .diamonds > div {
    width: initial;
  }

  .content {
    padding: 0 100px;
    font-size: 18px;
  }

  .content h3 {
    font-size: 18px;
  }

  .content p {
    margin-bottom: 30px;
  }

  .headline {
    color: var(--color-im-dark-blue);
    margin-bottom: 50px;
  }

  .diamonds[data-group='one'] > div:nth-child(1) > [data-tile] {
    --tile-size: 115px;

    top: 0;
    inset-inline-start: 0;
  }

  .diamonds[data-group='one'] > div:nth-child(2) > [data-tile] {
    --tile-size: 315px;

    top: 90px;
    inset-inline-start: 20px;
  }

  .diamonds[data-group='one'] > div:nth-child(3) > [data-tile] {
    --tile-size: 325px;

    top: -70px;
    inset-inline-start: 20px;
  }

  .diamonds[data-group='one'] > div:nth-child(4) > [data-tile] {
    --tile-size: 225px;

    top: 100px;
    inset-inline-start: -15px;
  }

  .diamonds[data-group='two'] > div:nth-child(1) > [data-tile] {
    --tile-size: 215px;

    top: 0;
    inset-inline-start: 0;
  }

  .diamonds[data-group='two'] > div:nth-child(2) > [data-tile] {
    --tile-size: 150px;

    top: 160px;
    inset-inline-start: -300px;
  }

  .diamonds[data-group='two'] > div:nth-child(3) > [data-tile] {
    --tile-size: 325px;

    top: 240px;
    inset-inline-start: -260px;
  }

  .diamonds[data-group='two'] > div:nth-child(4) > [data-tile] {
    --tile-size: 115px;

    inset: 330px 0 0 -720px;
  }
}

@media screen and (width >= 1450px) {
  .diamonds[data-group='one'] {
    padding: 0 4%;
  }

  .content {
    margin-bottom: 250px;
  }
}

@media screen and (width >= 1550px) {
  .diamonds[data-group='two'] {
    margin-bottom: 50px;
  }
}

@media screen and (width >= 1750px) {
  .diamonds[data-group='one'] {
    padding: 0 6%;
  }
}

@media screen and (width >= 1475px) {
  .diamonds[data-group='two'] {
    padding: 0 3%;
  }
}

@media screen and (width >= 1675px) {
  .diamonds[data-group='two'] {
    padding: 0 6%;
  }
}

@media screen and (width >= 1900px) {
  .diamonds[data-group='two'] {
    padding: 0 8%;
  }
}
