.four-column-container {
  width: 100%;
  display: flex;
  justify-content: center;
  clear: both;
  margin: 0 auto;
  container-type: inline-size;
}

.four-column {
  width: 100%;
  max-width: 1030px;
}

@container (min-width: 1024px) {
  .four-column[data-nested='false'] {
    display: flex;
    flex-wrap: nowrap;
  }

  /* Only suppporting this for now, but might expand later */
  .four-column[data-proportions='25-25-25-25'] > div {
    width: 25%;
  }

  .four-column-container[data-align='center'] .four-column[data-nested='true'] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .four-column-container[data-align='end'] .four-column[data-nested='true'] {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
