.full-width {
  max-width: 1920px;
  clear: both;
  margin: 0 auto;
}

/* stylelint-disable selector-pseudo-class-no-unknown */
.full-width
  :global([data-is-text='true'])
  :global(ul:not(.icon-list, [role='list'])) {
  /* stylelint-enable selector-pseudo-class-no-unknown */
  max-width: 100%;
}

@media screen and (width >= 1280px) {
  .full-width {
    padding: 0 100px;
  }

  /* stylelint-disable selector-pseudo-class-no-unknown */
  .full-width
    :global([data-is-text='true'])
    :global(ul:not(.icon-list, [role='list'])) {
    /* stylelint-enable selector-pseudo-class-no-unknown */
    max-width: 100%;
  }
}
