.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--black, #000);
  background-size: cover !important;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  cursor: pointer;
}

.play-button,
.caption {
  font-family: var(--font-family-body);
  font-size: 13px;
  font-weight: 300;
  color: var(--color-im-grey);
}

.play-button {
  position: absolute;
  z-index: 2;
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  background: var(--color-white);
  padding: 12px 17px;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.03em;
  transition: all 300ms ease-in-out;
  direction: ltr;
}

.play-button::before {
  position: absolute;
  content: '';
  inset: 0;
  background: var(--color-light-blue-gradient);
  border-radius: 10px;
  transition: opacity 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.thumbnail:hover .play-button {
  color: var(--color-white);
}

.thumbnail:hover .play-button::before {
  opacity: 1;
}

.play-icon {
  display: block;
  content: '';
  background-image: url('/static-assets/video-play.svg');
  background-size: cover;
  background-position: center;
  width: 14px;
  height: 15px;
  transition: all 300ms ease-in-out;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */

/* :global([dir='rtl']) .play-icon {
  transform: scaleX(-1);
} */

.thumbnail:hover .play-icon {
  background-image: url('/static-assets/video-play-white.svg');
}

.caption {
  position: absolute;
  bottom: -22px;
  inset-inline-start: 0;
  font-style: italic;
}

/* Popup styling */

.popup-container {
  position: fixed;
  inset: 0;
  background-color: #061626b2;
  z-index: 9999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1030px;
}

.close-button {
  position: absolute;
  top: -38px;
  inset-inline-end: 29px;
  cursor: pointer;
  display: block;
  content: '';
  background-image: url('/static-assets/close-white.svg');
  background-size: cover;
  background-position: center;
  width: 17px;
  height: 17px;
}

.popup p {
  width: 100%;
  height: 300px;
  background-color: red;
}

.iframe-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width) */
  position: relative;
}

.iframe {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}

@media screen and (width >= 1440px) {
  .thumbnail {
    margin-bottom: 24px;
  }

  .play-button {
    font-size: 16px;
    padding: 13px 25px;
    gap: 12px;
  }

  .play-icon {
    width: 16px;
    height: 18px;
  }

  .caption {
    bottom: -24px;
  }

  .close-button {
    top: -31px;
    inset-inline-end: -24px;
  }

  .iframe,
  .popup video-js {
    border-radius: 5px;
  }
}
