/* stylelint-disable */
.carousel-mobile:global(.swiper-horizontal) {
  padding-block-end: 50px;
}

.slide {
  width: auto;
}

.carousel-controls {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.carousel-controls > div {
  flex-grow: 1;
}

.carousel-scrollbar {
  height: 1px;
  background-color: var(--color-im-mid-blue);
  width: 100%;
  position: relative;
}

:global([data-theme='dark']) .carousel-scrollbar {
  background-color: var(--color-disabled-gray);
}

.carousel-previous,
.carousel-next {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 64px;
  background-image: var(--color-dark-blue-gradient);
}

.carousel-previous::after,
.carousel-next::after {
  content: '';
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/static-assets/arrows-white.svg');
}

.carousel-previous::after,
:global([data-theme='dark']) .carousel-previous::after,
:global([data-theme='dark']) .carousel-previous[disabled]::after {
  transform: rotate(180deg);
}

:global([dir='rtl']) .carousel-previous::after,
:global([dir='rtl']) .carousel-previous[disabled]::after,
:global([dir='rtl']) :global([data-theme='dark']) .carousel-previous::after,
:global([dir='rtl']) :global([data-theme='dark']) .carousel-previous[disabled]::after {
  transform: rotate(0deg);
}

:global([dir='rtl']) .carousel-next::after,
:global([dir='rtl']) .carousel-next[disabled]::after,
:global([dir='rtl']) :global([data-theme='dark']) .carousel-next::after,
:global([dir='rtl']) :global([data-theme='dark']) .carousel-next[disabled]::after {
  transform: rotate(180deg);
}

.carousel-previous[disabled],
.carousel-next[disabled] {
  border: 1px solid var(--color-im-mid-blue);
  background-image: none;
}

.carousel-previous[disabled]::after,
.carousel-next[disabled]::after {
  background-image: url('/static-assets/arrows-mid-blue.svg');
  transform: scale(1.2);
}

.carousel-previous[disabled]::after {
  transform: scale(1.2) rotate(180deg);
}

:global([data-theme='dark']) .carousel-previous,
:global([data-theme='dark']) .carousel-next {
  border: 1px solid var(--color-white);
  background-image: none;
  background-color: inherit;
}

:global([data-theme='dark']) .carousel-previous[disabled],
:global([data-theme='dark']) .carousel-next[disabled] {
  border: 1px solid var(--color-white);
  opacity: 45%;
}

:global([data-theme='dark']) .carousel-previous::after,
:global([data-theme='dark']) .carousel-next::after {
  transform: scale(1);
  background-image: url('/static-assets/arrows-white.svg');
}

:global([data-theme='dark']) .carousel-previous::after {
  transform: scale(1) rotate(180deg);
}

.carousel-mobile-content {
  padding: 20px;
}

.carousel-desktop-content {
  display: none;
}

.carousel-desktop-content-top {
  display: none;
}

.carousel-desktop-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.carousel :global(.swiper-wrapper) {
  align-items: center;
  cursor: grab;
}

@media screen and (width >= 1280px) {
  .carousel-mobile-content {
    display: none;
  }

  .carousel-desktop-content {
    padding-block: 20px;
    padding-inline: 100px 89px;
    display: block;
    margin: auto;
  }

  .carousel-desktop-content-top {
    display: block;
  }

  .drag {
    position: absolute;
    z-index: 9;
    translate: -50% -50%;
    inset-inline-start: 50%;
    border: 1px solid var(--color-im-mid-blue);
    border-radius: 100px;
    background-color: #ffffffcc;
    padding: 18px;
    font-family: var(--font-family-body);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--color-im-mid-blue);
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .arrow-container {
    position: relative;
    width: 11px;
    height: 8px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .arrow {
    position: absolute;
    top: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  :global([dir='rtl']) .arrow {
    transform: translate(50%, -50%);
  }

  .left-arrow {
    content: url('../../assets/icons/arrow-left-mid-blue.svg');
  }

  :global([dir='rtl']) .left-arrow {
    content: url('../../assets/icons/arrow-right-mid-blue.svg');
  }

  .right-arrow {
    content: url('../../assets/icons/arrow-right-mid-blue.svg');
  }

  :global([dir='rtl']) .right-arrow {
    content: url('../../assets/icons/arrow-left-mid-blue.svg');
  }

  .carousel-controls {
    display: none;
  }
}

@media screen and (width >= 1920px) {
  .carousel[data-disable-fade='false']::before,
  .carousel[data-disable-fade='false']::after {
    content: '';
    display: block;
    width: 146px;
    height: 100%;
    position: absolute;
    inset-block-start: 0;
    background-image: url('../../assets/icons/fade.svg');
    z-index: 2;
  }

  .carousel[data-disable-fade='false']::before {
    inset-inline-start: -1px;
    transform: scaleX(-1);
  }

  .carousel[data-disable-fade='false']::after {
    inset-inline-end: -1px;
  }

  .carousel-desktop-content {
    padding-inline-start: 445px;
  }
}
