.video-wrapper {
  width: 100%;
  max-width: 1030px;
  aspect-ratio: 1.7766;
  clear: both;
  margin: 0 auto 100px;
  padding-inline: 20px;
}

.video-wrapper:empty {
  display: none;
}

@media screen and (max-width >= 1280px) {
  .video-wrapper {
    padding-inline: 0;
  }
}
