.three-column-container {
  width: 100%;
  display: flex;
  justify-content: center;
  clear: both;
  margin: 0 auto;
  container-type: inline-size;
}

.three-column {
  width: 100%;
  max-width: 1030px;
}

@container (min-width: 1024px) {
  .three-column[data-nested='false'] {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .three-column[data-proportions='33-33-33'] > div {
    width: 33%;
  }

  .three-column[data-proportions='15-70-15'] > div:first-of-type,
  .three-column[data-proportions='15-70-15'] > div:last-of-type {
    width: 15%;
  }

  .three-column[data-proportions='15-70-15']
    > div:not(:first-of-type, :last-of-type) {
    width: 70%;
  }

  .three-column-container[data-align='center']
    .three-column[data-proportions='33-33-33'][data-nested='true'],
  .three-column-container[data-align='center']
    .three-column[data-proportions='15-70-15'][data-nested='true'] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .three-column-container[data-align='end']
    .three-column[data-proportions='33-33-33'][data-nested='true'],
  .three-column-container[data-align='end']
    .three-column[data-proportions='15-70-15'][data-nested='true'] {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
