/* stylelint-disable prettier/prettier */
.supplies-body {
  font-size: 18px;
  font-weight: 300;
  color: var(--color-im-grey);
  max-width: 1440px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.supplies-body h2 {
  font-family: var(--font-family-header);
  font-size: 42px;
  line-height: 95%;
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.supplies-body h3 {
  font-family: var(--font-family-header);
  font-size: 36px;
  font-weight: 300;
  line-height: 100%;
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.supplies-body h4 {
  font-family: var(--font-family-body);
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.supplies-body h5 {
  font-family: var(--font-family-body);
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  color: var(--color-im-dark-blue);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.supplies-body h6 {
  font-family: var(--font-family-body);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: var(--color-im-dark-blue);
  margin-bottom: 20px;
}

.supplies-body img,
.supplies-body video {
  height: auto;
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}

.supplies-body ul > li::marker {
  content: url('../../assets/icons/bullet.svg') ' ';
}

.supplies-body ol > li::marker {
  color: var(--color-im-mid-blue);
}

.supplies-body ul {
  padding-inline-start: 30px;
  margin-bottom: 20px;
}

.supplies-body ol {
  padding-inline-start: 30px;
  margin-bottom: 20px;
}

.supplies-body li {
  padding-inline-start: 10px;
}

.supplies-body p {
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  color: var(--color-im-grey);
  margin-bottom: 30px;
}

.supplies-body table {
  border-collapse: collapse;
  margin-bottom: 20px;
  display: block;
}

.supplies-body th,
.supplies-body td {
  border: 1px solid var(--color-light-gray);
  padding: 5px 15px;
}

.supplies-body th {
  background-color: var(--color-background-2);
}

.supplies-body hr {
  background-color: var(--color-light-gray);
  height: 1px;
  margin-bottom: 20px;
}

.supplies-body-box {
  padding-inline: 15px;
  margin-bottom: 50px;
}

.box-center {
  border: 1px solid var(--color-light-gray);
  min-height: 300px;
  padding: 30px;
  display: flex;
  background: var(--color-white);
  border-radius: 15px;
}

.box-center img {
  margin: auto;
  float: none;
  max-height: 450px;
}

.two-column[data-nested='false'] {
  max-width: 1920px;
  clear: both;
  margin: 0 auto;
}

@media screen and (width >= 1024px) {
  .two-column[data-nested='false'] {
    display: flex;
    flex-wrap: nowrap;
  }

  .two-column[data-proportions='50-50'] > div {
    width: 50%;
  }

  .two-column[data-proportions='33-66'] > div:first-of-type,
  .two-column[data-proportions='66-33'] > div:last-of-type {
    width: 34%;
  }
}
