/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable at-rule-no-vendor-prefix */
/* stylelint-disable no-descending-specificity */
@media screen and (width < 1024px) {
  .page-navigation {
    position: sticky;
    top: 0;
    z-index: 9999999;
    overflow-y: auto;
  }

  .page-navigation[data-is-open='true'] {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(5px);
    background-color: #061626b2;
    z-index: 9999999999999999;
  }

  .page-navigation[data-has-sub-page-navigation='false'] {
    display: none;
  }

  .page-navigation-header {
    background: var(--color-light-blue-gradient);
    padding: 11px 20px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 131%;
    letter-spacing: 0.26px;
    position: sticky;
    top: 0;
  }

  .cta {
    display: none;
  }

  .anchor-list-container {
    display: none;
  }

  .remove {
    display: none;
  }

  .page-navigation[data-is-open='true'] .remove {
    display: block;
  }

  .page-navigation[data-is-open='true'] .add {
    display: none;
  }

  .page-navigation-header img {
    float: inline-end;
  }

  .page-navigation-container {
    display: none;
  }

  .page-navigation[data-is-open='true'] .page-navigation-container {
    display: block;
  }

  .grandchild-nav-list a {
    display: block;
    background-color: var(--color-white);
    padding-block: 11px;
    padding-inline-end: 30px;
    padding-inline-start: 50px;
    text-decoration: none;
    color: var(--color-im-dark-blue);
    font-size: 14px;
    font-weight: 300;
    line-height: 131%; /* 17.03px */
    letter-spacing: 0.26px;
    border-bottom: 1px solid var(--color-light-gray);
  }

  .sub-page-nav-list > li > a {
    display: block;
    background-color: var(--color-white);
    padding: 11px 30px;
    text-decoration: none;
    color: var(--color-im-dark-blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 131%; /* 17.03px */
    letter-spacing: 0.26px;
    border-bottom: 1px solid var(--color-light-gray);
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .sub-page-nav-list li:global(.active) > a {
    background-color: var(--color-background-2);
    background-image: url('../../assets/icons/chevron-blue.svg');
    background-repeat: no-repeat;
    background-position: left 15px center;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .sub-page-nav-list > li:global(.active) > a {
    background-position: right 15px center;
  }
}

@media screen and (width >= 1024px) {
  .page-navigation[data-has-anchor-links='false'] {
    position: sticky;
    top: 0;
    z-index: 9999999;
  }

  .page-navigation-header {
    display: none;
  }

  .cta {
    padding-inline-start: 50px;
  }

  .cta .button {
    padding: 0.75em 1.85em;
    background-color: transparent;
  }

  .anchor-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1px;
    z-index: 99;
  }

  .jump-to {
    color: var(--color-im-grey);
    font-size: 14px;
    font-weight: 300;
    line-height: 131%; /* 17.03px */
    padding-block: 20px;
    padding-inline-end: 12.5px;
    padding-inline-start: 0;
  }

  .anchor-child {
    display: none;
    background: var(--color-light-blue-gradient);
    color: var(--color-white) !important;
  }

  .anchor-list-container[data-is-pinned='true'] {
    background-color: var(--color-white);
  }

  .anchor-list-container[data-is-pinned='true'] .anchor-child {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .anchor-list-container[data-is-pinned='true'] .jump-to {
    display: none;
  }

  .page-navigation[data-has-sub-page-navigation='false']
    .sub-page-nav-list-container
    .cta {
    display: none;
  }

  .anchor-list-container .cta {
    display: none;
  }

  .page-navigation[data-has-sub-page-navigation='false']
    + .anchor-list-container
    .cta {
    display: block;
  }

  .anchor-list-container[data-is-pinned='true'] .cta {
    display: block;
  }

  .anchor-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sub-page-nav-list > li,
  .anchor-list > li {
    position: relative;
    cursor: pointer;
  }

  .anchor-list > li {
    color: var(--color-im-mid-blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 131%;
    padding: 20px 12.5px;
  }

  .anchor-list a {
    font-family: var(--font-family-body);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-im-mid-blue);
    text-decoration: none;
  }

  .anchor-list-container[data-is-pinned='false'] .anchor-list a:hover {
    text-decoration: underline;
  }

  .grandchild-nav-list li {
    text-align: start;
  }

  .grandchild-nav-list a {
    padding: 14px 18px;
    color: var(--color-im-dark-blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 131%; /* 17.03px */
    letter-spacing: 0.26px;
    text-decoration: none;
    display: block;
  }

  .grandchild-nav-list a:hover {
    text-decoration: none;
  }

  /* stylelint-disable selector-pseudo-class-no-unknown */
  .sub-page-nav-list > li:hover,
  .sub-page-nav-list > li:global(.active),
  .sub-page-nav-list > li:global(.active-grandchild) {
    /* stylelint-enable selector-pseudo-class-no-unknown */
    background: var(--color-light-blue-gradient);
  }

  .grandchild-nav-list > li:last-of-type a {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
  }

  .sub-page-nav-list > li.active {
    background: var(--color-light-blue-gradient);
  }

  .anchor-list-container[data-is-pinned='true'] li:not(:first-of-type):hover {
    font-weight: 700;
  }

  /* stylelint-disable selector-pseudo-class-no-unknown */
  .anchor-list-container[data-is-pinned='true'] .anchor-list > li:hover::after,
  .anchor-list-container[data-is-pinned='true']
    .anchor-list
    > li:global(.active)::after {
    /* stylelint-enable selector-pseudo-class-no-unknown */
    content: '';
    position: absolute;
    bottom: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    height: 2px;
    background-color: var(--color-im-mid-blue);
  }

  .sub-page-nav-list > li:first-of-type ul {
    display: none;
  }

  .sub-page-nav-list-container {
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
    display: flex;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
  }

  .sub-page-nav-list {
    display: flex;
    justify-self: center;
    text-align: center;
    margin: auto;
  }

  .child-page-link {
    display: flex;
    align-items: center;
    gap: 13px;
    color: var(--color-im-dark-blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 131%; /* 17.03px */
    letter-spacing: 0.26px;
    text-decoration: none;
    padding: 14px 18px;
  }

  .child-page-link:hover {
    text-decoration: none;
  }

  .caret-container {
    position: relative;
    width: 9px;
    height: 5px;
  }

  .caret {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/icons/caret-down.svg');
    background-size: contain;
  }

  /* stylelint-disable selector-pseudo-class-no-unknown */
  .anchor-child > .caret-container > .caret,
  .sub-page-nav-list > li:hover > a > .caret-container > .caret,
  .sub-page-nav-list > li:global(.active) > a > .caret-container > .caret,
  .sub-page-nav-list
    > li:global(.active-grandchild)
    > a
    > .caret-container
    > .caret {
    /* stylelint-enable selector-pseudo-class-no-unknown */
    background-image: url('../../assets/icons/caret-down-white.svg');
  }

  .grandchild-nav-list {
    position: absolute;
    inset-inline-start: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border: 1px solid var(--color-light-gray);
    background-color: var(--color-white);
    display: none;
    z-index: 100;
    min-width: 300px;
  }

  .sticky-child-nav-list {
    position: absolute;
    top: calc(100% - 14px);
    inset-inline-start: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border: 1px solid var(--color-light-gray);
    margin-top: 14px;
    display: none;
    z-index: 100;
    min-width: 300px;
  }

  .sticky-child-nav-list .caret-container {
    width: 5px;
    height: 9px;
  }

  .sticky-child-nav-list .caret {
    background-image: url('../../assets/icons/caret-left.svg');
    transform: scaleX(-1);
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .sticky-child-nav-list .caret {
    transform: scaleX(1);
  }

  @-webkit-keyframes slide-right {
    0% {
      /* stylelint-disable-next-line length-zero-no-unit */
      -webkit-transform: translateX(0px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(298px);
      opacity: 1;
    }
  }

  @keyframes slide-right {
    0% {
      opacity: 0;
      /* stylelint-disable-next-line length-zero-no-unit */
      transform: translateX(0px);
    }

    100% {
      opacity: 1;
      transform: translateX(298px);
    }
  }

  @-webkit-keyframes slide-left {
    0% {
      /* stylelint-disable-next-line length-zero-no-unit */
      -webkit-transform: translateX(0px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(-298px);
      opacity: 1;
    }
  }

  @keyframes slide-left {
    0% {
      opacity: 0;
      /* stylelint-disable-next-line length-zero-no-unit */
      transform: translateX(0px);
    }

    100% {
      opacity: 1;
      transform: translateX(-298px);
    }
  }

  .sticky-grandchild-nav-list {
    display: none;
    position: absolute;
    inset-block-start: -1px;
    background-color: var(--color-white);
    width: 300px;
    border: 1px solid var(--color-light-gray);
    animation-name: slide-right;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    -webkit-animation-name: slide-right;
    -webkit-animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
    z-index: -1;
    cursor: auto;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .sticky-grandchild-nav-list {
    animation-name: slide-left;
    -webkit-animation-name: slide-left;
  }

  .sticky-grandchild-nav-list.expanded {
    display: block;
  }

  .sticky-child-nav-list li:hover > a,
  .grandchild-nav-list > li:hover > a {
    background-color: var(--color-background-2);
  }

  .sticky-child-nav-list > li > a,
  .sticky-grandchild-nav-list > li > a {
    padding: 13px 30px;
    font-family: var(--font-family-body);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .sticky-child-nav-list > li > a {
    background-color: var(--color-white);
  }

  .sticky-grandchild-nav-list > li:last-of-type > a {
    border-bottom: none;
  }

  .sticky-child-nav-list > li:last-of-type > a,
  .sticky-grandchild-nav-list,
  .sticky-grandchild-nav-list > li:last-of-type > a {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
  }

  .sticky-child-nav-list > li.expanded:last-of-type > a {
    border-radius: 0;
  }

  .sticky-grandchild-nav-list > li > a {
    display: block;
    height: 100%;
    font-weight: 300;
    box-shadow: inset 15px 0 15px -15px #0003;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global([dir='rtl']) .sticky-grandchild-nav-list > li > a {
    box-shadow: inset -15px 0 15px -15px #0003;
  }

  .sticky-grandchild-nav-list[data-has-more-than-eight='true']
    > li:nth-child(even)
    > a {
    box-shadow: none;
  }

  .sticky-grandchild-nav-list[data-has-more-than-eight='true']
    > li:last-of-type:nth-of-type(odd)
    > a {
    border-end-end-radius: 0;
  }

  .sticky-grandchild-nav-list[data-has-more-than-eight='true']
    > li:last-of-type:nth-of-type(even)
    > a {
    border-end-start-radius: 0;
  }

  .sticky-grandchild-nav-list[data-has-more-than-eight='true']
    > li:nth-last-of-type(2):nth-of-type(odd)
    > a {
    border-bottom: 0;
    border-end-start-radius: 10px;
  }

  .sub-page-nav-list > li:hover .grandchild-nav-list,
  .anchor-child.hovered .sticky-child-nav-list,
  .sticky-grandchild-nav-list.expanded {
    display: flex;
    flex-direction: column;
  }

  .sub-page-nav-list
    > li:hover
    .grandchild-nav-list[data-has-more-than-eight='true'],
  .sticky-grandchild-nav-list.expanded[data-has-more-than-eight='true'] {
    width: 400px;
    flex-flow: row wrap;
  }

  .grandchild-nav-list[data-has-more-than-eight='true'] li,
  .sticky-grandchild-nav-list[data-has-more-than-eight='true'] li {
    width: 50%;
  }

  .grandchild-nav-list[data-has-more-than-eight='true']
    > li:last-of-type:nth-of-type(odd)
    a,
  .grandchild-nav-list[data-has-more-than-eight='true']
    > li:nth-last-of-type(2):nth-of-type(odd)
    a {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 10px;
  }

  .grandchild-nav-list[data-has-more-than-eight='true']
    > li:last-of-type:nth-of-type(even)
    a {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 10px;
    border-end-start-radius: 0;
  }

  /* stylelint-disable selector-pseudo-class-no-unknown */
  .sub-page-nav-list > li:hover .child-page-link,
  .sub-page-nav-list > li:global(.active) .child-page-link,
  .sub-page-nav-list > li:global(.active-grandchild) .child-page-link {
    /* stylelint-enable selector-pseudo-class-no-unknown */
    color: var(--color-white);
  }
}
